---
notes: |
  Basic checkbox style
---

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 1</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 2</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 3</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 4</span>
</label>
