---
notes: |
  Basic checkbox style
---

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label" for="checkbox-1">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" id="checkbox-1"/>
	<span>Checkbox 1</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label" for="checkbox-2">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" id="checkbox-2"/>
	<span>Checkbox 2</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label" for="checkbox-3">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" id="checkbox-3"/>
	<span>Checkbox 3</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label" for="checkbox-4">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" id="checkbox-4"/>
	<span>Checkbox 4</span>
</label>
