---
notes: |
  Disable checkbox
---
<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-state--disable">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 5</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-state--disable">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" checked/>
	<span>Checkbox 6</span>
</label>

