---
notes: |
  Round checkbox
---

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-checkbox-label--circle {{styleguide.prefix}}-state--disable">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" disabled/>
	<span>Checkbox 7</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-checkbox-label--circle {{styleguide.prefix}}-state--disable">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" checked/>
	<span>Checkbox 8</span>
</label>


<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-checkbox-label--circle">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox"/>
	<span>Checkbox 9</span>
</label>

<label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label {{styleguide.prefix}}-checkbox-label--circle">
	<input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="basic-checkbox" checked/>
	<span>Checkbox 10</span>
</label>
