---
notes: |
  Add border-bottom in each row.
---
<table class="{{styleguide.prefix}}-table {{styleguide.prefix}}-table--bordered">
	<caption>Caption</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jennifer</td>
			<td>30</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>Oliver</td>
			<td>18</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Jordan</td>
			<td>53</td>
			<td>Male</td>
		</tr>
	</tbody>
</table>

<table class="{{styleguide.prefix}}-table {{styleguide.prefix}}-table--bordered {{styleguide.prefix}}-table--bordered__vertical">
	<caption>Caption</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jennifer</td>
			<td>30</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>Oliver</td>
			<td>18</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Jordan</td>
			<td>53</td>
			<td>Male</td>
		</tr>
	</tbody>
</table>
