---
notes: |
  Table  horizontally scrollable on small screen.
---
<table class="{{styleguide.prefix}}-table {{styleguide.prefix}}-table--responsive {{styleguide.prefix}}-table--bordered  {{styleguide.prefix}}-table--striped  {{styleguide.prefix}}-table--highlight">
	<caption>Caption</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jennifer</td>
			<td>30</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>Oliver</td>
			<td>18</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Jordan</td>
			<td>53</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Neil</td>
			<td>24</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Grace</td>
			<td>18</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>Evan</td>
			<td>27</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Woody</td>
			<td>20</td>
			<td>Male</td>
		</tr>
		<tr>
			<td>Jane</td>
			<td>18</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>Robert</td>
			<td>21</td>
			<td>Male</td>
		</tr>
	</tbody>
</table>
