---
notes: |
  Example for form elements in Table.
---
<table class="{{styleguide.prefix}}-table {{styleguide.prefix}}-table--headfixed {{styleguide.prefix}}-table--highlight {{styleguide.prefix}}-table--bordered {{styleguide.prefix}}-table--bordered__th-bordered">
	<caption>Caption</caption>
	<thead>
		<tr>
			<th class="{{styleguide.prefix}}-table-th--headfixed">
        <label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
          <input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="checkbox-table-all" id="checkbox-table-all" />
          <span></span>
        </label>
			</th>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Description</th>
			<th>others</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
        <label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
          <input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="checkbox-table" id="checkbox-table-td-1" />
          <span></span>
        </label>
			</td>
			<td>Jennifer</td>
			<td>30</td>
			<td>Female</td>
			<td>Cute</td>
			<td>none</td>
		</tr>
		<tr>
			<td>
        <label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
          <input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="checkbox-table" id="checkbox-table-td-2" />
          <span></span>
        </label>
			</td>
			<td>Oliver</td>
			<td>18</td>
			<td>Male</td>
			<td>Cute</td>
			<td>none</td>
		</tr>
		<tr>
			<td>
        <label class="demo-checkbox-inline {{styleguide.prefix}}-checkbox-label">
          <input type="checkbox" class="{{styleguide.prefix}}-checkbox" name="checkbox-table" id="checkbox-table-td-3" />
          <span></span>
        </label>
			</td>
			<td>Jordan</td>
			<td>53</td>
			<td>Male</td>
			<td>Cute</td>
			<td>none</td>
		</tr>
	</tbody>
</table>
