---
notes: |
  Buttons flat style
---
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-default">Default</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">Primary</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-success">Success</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-info">Info</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-warning">Warning</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-alarm">Alarm</button>
