---
notes: |
  Buttons light style
---
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-default">Default</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-primary">Primary</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-success">Success</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-info">Info</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-warning">Warning</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-light-alarm">Alarm</button>
