---
notes: |
  Buttons default style
---
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Default</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-primary">Primary</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-success">Success</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-info">Info</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-warning">Warning</button>
<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-alarm">Alarm</button>
