---
notes: |
  Buttons inverse style
---

<div class="demo-btn-title demo-bg-black">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-default">Default</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-primary">Primary</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-success">Success</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-info">Info</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-warning">Warning</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-alarm">Alarm</button>
</div>
