---
notes: |
  Buttons size
---

<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-xlarge">Extra large button</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-xlarge">Extra large button</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-large">Large button</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-large">Large button</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Default button</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">Default button</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-small">Small button</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-small">Small button</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-xsmall">Extra small button</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-xsmall">Extra small button</button>
</div>


