---
notes: |
  Block level
---

<div class="demo-btn-level {{styleguide.prefix}}-card {{styleguide.prefix}}-card--bordered">
  <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
    <p>
     <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-large {{styleguide.prefix}}-btn-block">Block level button</button>
     <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-large {{styleguide.prefix}}-btn-block">Block level button</button>
    </p>
  </div>
</div>
