---
notes: |
  Buttons active state
---

<div class="demo-btn-title">
  Anchor element
</div>
<div class="demo-btn-paragraph">
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
</div>
<div class="demo-btn-paragraph">
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
</div>
<div class="demo-btn-paragraph">
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
  <a class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</a>
</div>

<div class="demo-btn-title">
  Button element
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-default {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-inverse-primary {{styleguide.prefix}}-btn-large {{styleguide.state}}--active">Active state</button>
</div>
