---
notes: |
  Buttons with icon
---

<div class="demo-btn-title">
  Button with icon and text
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <i class="icon-download"></i><span class="{{styleguide.prefix}}-btn-txt">Download</span>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <i class="icon-trash-o"></i><span class="{{styleguide.prefix}}-btn-txt">Delete</span>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <i class="icon-print"></i><span class="{{styleguide.prefix}}-btn-txt">Print</span>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <i class="icon-search"></i><span class="{{styleguide.prefix}}-btn-txt">Search</span>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <i class="icon-chevron-left"></i><span class="{{styleguide.prefix}}-btn-txt">Prev</span>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">
    <span class="{{styleguide.prefix}}-btn-txt">Next</span><i class="icon-chevron-right"></i>
  </button>
</div>

<div class="demo-btn-title">
  Button with icon
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-download"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-trash-o"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-print"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-search"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-chevron-left"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square">
    <i class="icon-chevron-right"></i>
  </button>
</div>

<div class="demo-btn-title">
  Icon only
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-download"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-trash-o"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-print"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-search"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-chevron-left"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-chevron-right"></i>
  </button>
</div>

<div class="demo-btn-title">
  Community website icons
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square {{styleguide.prefix}}-btn-facebook">
    <i class="icon-facebook"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square {{styleguide.prefix}}-btn-twitter">
    <i class="icon-twitter"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square {{styleguide.prefix}}-btn-youtube">
    <i class="icon-youtube"></i>
  </button>
</div>
