---
notes: |
  circult style
---

<div class="demo-btn-title">
  icon
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-download"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-trash-o"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-print"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-search"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-chevron-left"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">
    <i class="icon-chevron-right"></i>
  </button>
</div>

<div class="demo-btn-title">
  social
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-btn-facebook">
    <i class="icon-facebook"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-btn-twitter">
    <i class="icon-twitter"></i>
  </button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-btn-youtube">
    <i class="icon-youtube"></i>
  </button>
</div>

<div class="demo-btn-title">
  number
</div>
<div class="demo-btn-paragraph">
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">1</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">2</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">3</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">4</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">5</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">6</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">7</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">8</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">9</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">10</button>
  <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle">11</button>
</div>
