---
notes: |
  Button group
---
<div class="demo-btn-title">
  horizontal
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-btn-group">
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Left</button>
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Middle</button>
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Right</button>
  </div>
</div>

<div class="demo-btn-title">
  vartical
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-btn-group-vartical">
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">button</button>
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">button</button>
    <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">button</button>
  </div>
</div>
