---
notes: |
  Button toolbar
---
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-btn-toolbar">
    <div class="{{styleguide.prefix}}-btn-group">
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">text</button>
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">text</button>
    </div>
    <div class="{{styleguide.prefix}}-btn-group">
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-trash-o"></i></button>
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-print"></i></button>
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-search"></i></button>
    </div>
    <div class="{{styleguide.prefix}}-btn-group">
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-chevron-left"></i></button>
      <button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-chevron-right"></i></button>
    </div>
  </div>
</div>
