// *************************************
//
//   Icon
//   -> Depends on icomoon
//
// *************************************

%icon {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: #{$icon-font-family} !important;
  speak: none;
  font-size: $icon-font-size;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
