// *************************************
//
//   Typography
//
// *************************************

// -------------------------------------
//   Heading Text
// -------------------------------------

h1 { @include heading-text($h1-font-size, $h1-padding-vertical); }
h2 { @include heading-text($h2-font-size, $h2-padding-vertical); }
h3 { @include heading-text($h3-font-size, $h3-padding-vertical); }
h4 { @include heading-text($h4-font-size, $h4-padding-vertical); }
h5 { @include heading-text($h5-font-size, $h5-padding-vertical); }
h6 { @include heading-text($h6-font-size, $h6-padding-vertical); }


// -------------------------------------
//   Link
// -------------------------------------

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
  &:active {
    color: $link-active-color;
    text-decoration: underline;
  }
}
