<ul class="{{styleguide.prefix}}-collapse {{styleguide.prefix}}-collapse--mix {{styleguide.prefix}}-collapse--bordered">
  <li class="{{styleguide.prefix}}-collapse-container">
    <div class="{{styleguide.prefix}}-collapse--title">Collapse1<i class="icon-chevron-down" aria-hidden="true"></i></div>
    <div class="{{styleguide.prefix}}-collapse--content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
  </li>
  <li class="{{styleguide.prefix}}-collapse-container">
    <div class="{{styleguide.prefix}}-collapse--title">Collapse2<i class="icon-chevron-down" aria-hidden="true"></i></div>
    <div class="{{styleguide.prefix}}-collapse--content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
  </li>
  <li class="{{styleguide.prefix}}-collapse-container">
    <div class="{{styleguide.prefix}}-collapse--title">Collapse3<i class="icon-chevron-down" aria-hidden="true"></i></div>
    <div class="{{styleguide.prefix}}-collapse--content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
  </li>
</ul>
