---
notes: |
  A standard breadcrumb
---

<div class="{{styleguide.prefix}}-breadcrumb">
  <div class="{{styleguide.prefix}}-breadcrumb-border">
    <div class="{{styleguide.prefix}}-breadcrumb--section"><i class="icon-home"></i></div>
    <div class="icon-caret-right"></div>
    <div class="{{styleguide.prefix}}-breadcrumb--section"><i class="icon-calendar"></i>Schedule</div>
    <div class="icon-caret-right"></div>
    <div class="{{styleguide.prefix}}-breadcrumb--link-wrap">
      <a href="#" class="{{styleguide.prefix}}-breadcrumb--link"><i class="icon-users"></i>Meeting</a>
      <ul class="{{styleguide.prefix}}-sub-menu">
            <li>
              <a href="#" class="{{styleguide.prefix}}-sub-menu-item"><i class="icon-briefcase"></i>Work</a>
            </li>
            <li>
              <a href="#" class="{{styleguide.prefix}}-sub-menu-item"><i class="icon-users"></i>Meeting</a>
            </li>
            <li>
              <a href="#" class="{{styleguide.prefix}}-sub-menu-item"><i class="icon-envelope"></i>Mail Check</a>
            </li>
      </ul>
    </div>
    <div class="icon-caret-right"></div>
    <div class="active {{styleguide.prefix}}-breadcrumb--section"><i class="icon-bar-chart"></i>Chart</div>
  </div>
</div>
