// *************************************
//
//   Avatar
//
// *************************************

.#{$prefix}-avatar {
  box-sizing: border-box;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: $avatar-width;
  height: $avatar-height;
  border-radius: $avatar-border-radius;
  background-color: $avatar-bg-color;
}

img.#{$prefix}-avatar  {
  background-image: none;
  background-color: $avatar-bg-color;
}

@each $_size, $_value in $avatar-style {
  $_width: map-get($_value, width);
  $_height: map-get($_value, height);
  $_border-radius: map-get($_value, border-radius);
  .#{$prefix}-avatar--#{$_size} {
    width: $_width;
    height: $_height;
    border-radius: $_border-radius;
  }
}

.#{$prefix}-avatar--circle {
  border-radius: 50%;
}


// -------------------------------------
//   width badge
// -------------------------------------

.#{$prefix}-avatar-badge {
  position: relative;
  display: inline-block;
  &.#{$prefix}-avatar-badge--point {
    .badge--circle:before {
      content:'';
      position: absolute;
      top: calc(50% - (#{$avatar-badge-pointer-height}/2));
      left: calc(50% - (#{$avatar-badge-pointer-height}/2));
      background: #fff;
      border-radius: 50%;
      width: $avatar-badge-pointer-height;
      height: $avatar-badge-pointer-height;
    }
    &.#{$prefix}-avatar-badge--xsmall{
      .badge--circle:before {
        width: 1px;
        height: 1px;
        top: calc(50% - 0.5px);
        left: calc(50% - 0.5px);
      }
    }
  }
  // if this is a circle image with badge
  &.#{$prefix}-avatar-badge--circle {
    .badge {
      top: 0;
      left: 70%;
      right: auto;
    }
  }
  // else
  .badge {
    position: absolute;
    background: $avatar-badge-bg-color;
    padding: 0 5px;
    height: $avatar-badge-height;
    line-height: $avatar-badge-height;
    top: -($avatar-badge-half-height);
    right: -12%;
  }
  .badge--circle {
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    width: $avatar-badge;
    height: $avatar-badge;
    top: -($avatar-badge/3);
    right: -($avatar-badge/3);
    left: auto;
  }
}

@each $_size, $_value in $avatar-badge-style {
  $_width: map-get($_value, width);
  $_height: map-get($_value, height);
  .#{$prefix}-avatar-badge--#{$_size} .badge--circle{
    width: $_width;
    height: $_height;
    top: -($_width/2);
    right: -($_width/2);
    left: auto;
  }
}

