.#{$prefix}-badge {
  display: inline-block;
  vertical-align: middle;
  color: $badge-color;
  background-color: $badge-bg-color;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size;
}
.#{$prefix}-badge--circle {
	border-radius: 50%;
	padding: 0;
	font-size: 0;
}
