// *************************************
//
//   text-align
//
// *************************************

.#{$prefix}-txt--left {
  text-align: left;
}

.#{$prefix}-txt--center {
  text-align: center;
}

.#{$prefix}-txt--left {
  text-align: right;
}
