// *************************************
//
//   Tooltip
//
// *************************************

.#{$prefix}-tooltip {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 120ms linear, z-index 120ms;
  z-index: -1;
  &.in {
    opacity: 1;
    z-index: z(popup);
  }
  &.top {
    margin-top: -3px;
    padding: $tooltip-arrow-width 0;
  }
  &.right {
    margin-left: 3px;
    padding: 0 $tooltip-arrow-width;
  }
  &.bottom {
    margin-top: 3px;
    padding: $tooltip-arrow-width 0;
  }
  &.left {
    margin-left: -3px;
    padding: 0 $tooltip-arrow-width;
  }
}

.#{$prefix}-tooltip-inner {
  max-width: $tooltip-inner-max-width;
  padding: $tooltip-inner-padding;
  color: $tooltip-inner-color;
  background: $tooltip-inner-bg-color;
  border-radius: $tooltip-inner-border-radius;
  font-size: $tooltip-font-size;
  line-height: $tooltip-inner-line-height;
  text-align: center;
  word-break: break-all;
}

.#{$prefix}-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.#{$prefix}-tooltip {
  &.top .#{$prefix}-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.right .#{$prefix}-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: $tooltip-arrow-color;
  }
  &.left .#{$prefix}-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .#{$prefix}-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
}


