// *************************************
//
//   Nav
//
// *************************************

.nav-wrapper {
  background: $nav-bg;
  background: $nav-bg-gradient;
  height: nth($nav-height-list, 1);
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: $nav-z-index;
  font-family:  "Roboto", "Helvetica", "Segoe UI", "Arial", "sans-serif", "Microsoft JhengHei", "Heiti TC";

  .nav-menu {
    display: inline-block;
    position: relative;
    left: calc(4% + 45px);
    top: 40%;
    width: 69%;
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.5);
    background-color: #333333;
    z-index: $nav-z-index;

    a {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      color: #fff;
      background-color: #333333;
      font-size: 16px;
      padding: 16px 0;
      height: 50px;
      width: 20%;
      text-decoration: none;
      text-align: center;
      transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);

      &:hover {
        background-color: #fff;
        color: #333;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
      }

      &:not(.logo).is-active {
        background-color: #fff;
        color: #333;
        pointer-events: none;
      }
    }

    .logo {
      position: absolute;
      width: 50px;
      left: -60px;
      background-size: 58%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(#{$img-path}/icon-white.png);
      background-color: transparent;
      height: nth($nav-height-list, 2);

      &:hover {
        background-color: transparent;
        box-shadow: none;
        background-size: 70%;
      }

      &.is-active {
        pointer-events: none;
      }
    }
  }
}

.nav-dropdown-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: nth($nav-height-list, 1);
  padding: 0 4%;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    .nav-dropdown-menu {
      transform: scale(1);
      opacity: 1;
    }
  }

  .nav-dropdown-toggle {
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    display: block;

    // icon
    &:before {
      @extend %icon;
      content: $icon-download2;
      font-size: 22px;
      margin-right: 10px;
      vertical-align: text-bottom;
    }
  }

  .nav-dropdown-menu {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    right: 0;
    width: 100%;
    background: $nav-dropdown-menu-bg;
    background: $nav-dropdown-menu-bg-gradient;
    padding-bottom: 10px;
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% -10px;
    transition: transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 400ms 100ms;
    z-index: $nav-z-index;


    a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      position: relative;
      transition: all 200ms;
      letter-spacing: 2px;
      padding: 0 20%;
      
      // icon
      &:before {
        @extend %icon;
        content: $icon-file-empty;
        font-size: 18px;
        margin-right: 15px;
        vertical-align: text-bottom;
      }
      
      // line
      &:after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        right: 50%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
      }

      &:hover {
        &:after {
          left: 12%;
          right: 12%;
        }
      }
    }
  }

} // END nav dropdown wrapper


// -------------------------------------
//   rwd
// -------------------------------------

.nav-wrapper {
  // 縮小 nav-menu
  @include bp(nth($nav-bp, 1)) {
    .nav-menu {
      width: 60%;

      a {
        padding-left: 0;
        padding-right: 0;
        width: 33.3%;
      }
    }
  }

  // nav, download btn 全寬
  @include bp(nth($nav-bp, 2)) {
    height: nth($nav-height-list, 2);

    .nav-menu {
      top: 0;
      left: 0;
      width: 100%;
      padding-right: $nav-dropdown-mobile-width;

      a {
        width: 20%;
        padding-top: 14px;
        padding-bottom: 14px;
        height: nth($nav-height-list, 2);
      }
    }

    .nav-dropdown-wrapper {
      top: 0;
      right: 0;
      padding: 0;
      z-index: $nav-z-index;
      width: $nav-dropdown-mobile-width;
      background: $nav-dropdown-mobile-bg;
      background: $nav-dropdown-mobile-bg-gradient;
    }

    .nav-dropdown-menu {
      width: auto;
    }

    .nav-dropdown-toggle {
      font-size: 0;
      position: relative;
      height: 100%;

      &:before {
        position: absolute;
        top: 9px;
        left: 12px;
      }
    }
  }

  @include bp(537px) {
    .nav-menu {
      a {
        padding-top: 8px;

        span {
          display: block;
        }

        .single-line {
          line-height: 30px;
        }
      }
    }
  }

  @include bp(470px) {
    .nav-menu {
      a {
        font-size: 14px;
      }
    }
  }
}
