// *************************************
//
//   Nav
//
// *************************************

.nav-wrapper {
  background: $nav-bg;
  background: $nav-bg-gradient;
  height: $nav-height;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: $nav-z-index;

  .nav-menu {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 40%;
    width: 70%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: #333333;
    z-index: $nav-z-index;

    a {
      display: inline-block;
      position: relative;
      color: #fff;
      background-color: #333333;
      font-size: 16px;
      padding: 16px 0;
      height: 48px;
      width: 25%;
      text-decoration: none;
      text-align: center;
      transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);

      &:hover {
        background: #fff;
        color: #333;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .nav-dropdown-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: $nav-height;
    letter-spacing: 2px;
    padding-right: 5%;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      .nav-dropdown-menu {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .nav-dropdown-toggle {
    color: #fff;
    font-size: 16px;

    // icon
    &:before {
      @extend %icon;
      content: $icon-download2;
      font-size: 22px;
      margin-right: 15px;
      vertical-align: text-bottom;
    }
  }

  .nav-dropdown-menu {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    right: 0;
    background: $nav-dropdown-menu-bg;
    background: $nav-dropdown-menu-bg-gradient;
    padding-bottom: 10px;
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% -10px;
    transition: transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 400ms 100ms;
    z-index: $nav-z-index;

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      padding: 0 30px;
      position: relative;
      transition: all 200ms;
      
      &:before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        right: 50%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
      }

      &:hover {
        &:before {
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}


// -------------------------------------
//   rwd
// -------------------------------------

.nav-wrapper {
  // 縮小 nav-menu
  @include bp(nth($nav-bp, 1)) {
    .nav-menu {
      width: 60%;

      a {
        padding-left: 0;
        padding-right: 0;
        width: 50%;
      }
    }
  }

  // nav, download btn 全寬
  @include bp(nth($nav-bp, 2)) {
    height: 48px;

    .nav-menu {
      top: 0;
      left: 0;
      width: 100%;

      a {
        width: 25%;
      }
    }

    .download-wrapper {
      top: $nav-height;
    }
  }
}
