// *************************************
//
//   styleguide Variables
//
// *************************************

// -------------------------------------
//   constant
// -------------------------------------

$prefix:                                  'demo';
$kit-prefix:                              'sg';
$img-path:                                '../img';
$icomoon-font-path:                       '../fonts';


// -------------------------------------
//   base
// -------------------------------------

$c-brand-purple:                          #6654EC;
$c-brand-blue:                            #54CAF9;
$c-brand-blue2:                           #35AFFF;

// z-index
$nav-z-index:                             z(nav-head);

// bp
$content-max-width:                       1280px;


// -------------------------------------
//   Z-index
// -------------------------------------

// ex: z-index: z(module, upper)/z(head)...
$z-layers: (
  "mask":                                 10010,
  "popup":                                9000,
  "fix":                                  100,
  "head":                                 99,
  "nav-head":                             9,
  "module": (
    "upper":                              7,
    "base":                               5,
    "lower":                              3
  ),
  "default":                              1,
  "below":                                -1,
  "hidden":                               -9000
);


// -------------------------------------
//   components
// -------------------------------------

// ----- nav ----- //

$nav-bg:                                  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAvElEQVQoU42QzUpDQQxGT2YyriyIuqnYn4fyqX0JK6XURSuC3XhnMilzL9zaFsGsT76TfPLy+uP8Y+QSlNy2HE9ytn4CO0f3Ffl2RMBuhfoY8TTwI6gfFd0U4pfj7tT7SJkGyjSewKbTt0JaG7ouCEJ+DpSF0i0i3MiQKNlJK0PfC2lT+0SbKXkeyUvt9aM6bo20rYRPox1pd4I9Nf0vdX9shrgzwmFoq04C9iDj91f10LWvG3Be7jX4R/lHB8pj5xTDzAUAAAAASUVORK5CYII=) center/100% auto;
$nav-bg-gradient:                         radial-gradient(circle, $c-brand-purple 0%, $c-brand-blue 70%);
$nav-height-list:                         55px 45px;
$nav-dropdown-menu-bg:                    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAPUlEQVQYVwEyAM3/AILT+f0Ahcv3/ACHxff4AIi/9fcAi7n18wCMsfLyAI+r8u4AkKXw7QCTnvDpAJSY7+gZ4B+DRKjcpwAAAABJRU5ErkJggg==) 0 0/100% 100%;
$nav-dropdown-menu-bg-gradient:           linear-gradient(to top, rgba(#6561ee, 0.6), rgba(#57c8f6, 0.8));

// rwd
$nav-bp:                                  890px 620px;
$nav-dropdown-mobile-width:               nth($nav-height-list, 2);
$nav-dropdown-mobile-bg:                  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAvElEQVQoU42QzUpDQQxGT2YyriyIuqnYn4fyqX0JK6XURSuC3XhnMilzL9zaFsGsT76TfPLy+uP8Y+QSlNy2HE9ytn4CO0f3Ffl2RMBuhfoY8TTwI6gfFd0U4pfj7tT7SJkGyjSewKbTt0JaG7ouCEJ+DpSF0i0i3MiQKNlJK0PfC2lT+0SbKXkeyUvt9aM6bo20rYRPox1pd4I9Nf0vdX9shrgzwmFoq04C9iDj91f10LWvG3Be7jX4R/lHB8pj5xTDzAUAAAAASUVORK5CYII=) 74% 34%/300%;
$nav-dropdown-mobile-bg-gradient:         radial-gradient(circle, $c-brand-purple 0%, $c-brand-blue) right top/200%;


// ----- btn ----- //

$btn-bg-primary-bg:                       url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAmklEQVQoU22Qaw4CIQyEZ/aMoJfVGKOJxgsJoWtNW3aXrPKHAPPoB9OrKj4ARUEB0JYdmObtTBcKMJloJ6aZFnF6VvWkLvLHf6b8qOp13TkJt/rRnO5Fx1nQ4KY1uTcw36x6D6IdxCABzArma4kZmwbQCCD0ZFs8XIoGSFz+gNjsLjy/1UTr/8mQbA0RCB5PJaiHWhpQ/6KQAV9YsZdfpEgPvwAAAABJRU5ErkJggg==) center/100% 100%;
$btn-bg-primary-bg-gradient:              linear-gradient(300deg, #5B9EF5, $c-brand-blue);


// -------------------------------------
//   page
// -------------------------------------

// ----- landing page ----- //

$landing-sec0-card-upper-z-index:         z(module, upper);
$landing-sec1-z-index:                    z(module, base);
$landing-sec0-card-base-z-index:          z(module, base);
$landing-sec0-card-lower-z-index:         z(module, lower);

$landing-sec0-bg-img:                     url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAn0lEQVQoU22QsQ7CMAxEfRUINXwhAkWgqisbKxsrGysjfwdVVXVsDsUpJIRk8eBnP1+weYykgTgD4boSLqX4sL2PdEYU+lRW/yx2t4EemjI4R2GvAyPk9RBXQ1jjh4W99Lox6hN4FWHszz1DkHlTMuRNsggwDqeOTpsz7KtJDSJSQdAcO07ajF9UOgNN+6JqC3BqQmuf1JRZIPcdDme8Aco5Y9B/c5/rAAAAAElFTkSuQmCC);
$landing-sec0-bg-img-gradient:            linear-gradient(38deg, $c-brand-purple 0%, $c-brand-blue 64%);
$landing-sec0-bottom-spacing:             300px;

$landing-sec2-bg:                         url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA7UlEQVQoUy3QSVICYRBE4ZfVIsgg6N0cwMNphG50qXuuBDI1EnSl8Xez/+JFZelhWbvagw6JTsDZSOAK3A9yAB4Hev6prW0SB6Pa6Axg6IkcCI9EMxaaf+4dWxObJGrDnxEir8GjIMcip4EWH3vHKqk2HdbRbdDDruRZ0LTwdedqbWLVUP2aWCcI8jbIgmYi7wO9vJViQ7XqUCnb7tA0yLsOa/G+c1xK1bYb1BbL2tuguZQ1/zq4HVLQPolTeyL0RQ4hJ0FOhJ6+D652BRmVxadSFL4C3xQsPAn0uDy6LdV0sKG9sfzRvbI+yJH4BwQjlcu8wNiOAAAAAElFTkSuQmCC) center #{-100%}/100% 120%;
$landing-sec2-bg-gradient:                radial-gradient(circle, $c-brand-purple 0%, $c-brand-blue 100%) center #{-100%}/100% 120%;
$landing-sec4-bg:                         url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAo0lEQVQoU43PTQrCMBAF4DdJwG7qQgQxybHqwpULoVfxKB5F8CziQnBROsnI1J9SrD/ZzOablzdUHRvBH49Wh0bE/pa03l+Fg4UU9FXTZneRNhhwcMjlZ0zb+iwcLdhb6EwzM5pMdXWSPKUukb0BRwdevOMOakQuCClatN4gBQetA9NXeUHFen2KboBlcscD+CzHSwt+HKg/SGnGoS6keY916Qawz0HXqTejJAAAAABJRU5ErkJggg==) 0 0/100% 100%;
$landing-sec4-bg-gradient:                linear-gradient(22deg, $c-brand-purple 24%, $c-brand-blue 49%);
$landing-sec4-calendar-bg:                url(#{$img-path}/landing-page/ui-kit-sec4-calendar-bg.png) 0 0/100% 100%;
$landing-sec4-calendar-bg-gradient:       linear-gradient(134deg,#FFFFFF 4px,#d8dbe9, 0,  #d8dbe9 9%, #bcbebf 0, #bcbebf 21%, #2581d6 0, #2581d6 61%, #d8dbe9 0, #d8dbe9 90%, #E2E2E2 0);
$landing-sec6-bg:                         url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAPUlEQVQYVwEyAM3/AFXE+P8AV7n3/wBYrPX/AFuh9f8AXJXz/wBeifL/AF998P8AYnLw/wBjZe7/AGVa7f/TYRyoo7vMqwAAAABJRU5ErkJggg==) 0 0/100% 100%;
$landing-sec6-bg-gradient:                linear-gradient(to bottom, $c-brand-blue, $c-brand-purple);

$landing-footer-bg:                             url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAK0lEQVQYV2MMPfLjP9OX/wyMX/4xMH1lYGAC0VA+89f/DIyf/zMwff3PAACgwBOthgMccQAAAABJRU5ErkJggg==) 0 0/100% 100%;
$landing-footer-bg-gradient:                    linear-gradient(120deg, #54C9F8, #645EED);
$landing-footer-dropdown-menu-bg:               $nav-dropdown-menu-bg;
$landing-footer-dropdown-menu-bg-gradient:      $nav-dropdown-menu-bg-gradient;
$landing-footer-dropdown-wrapper-bg:            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA7ElEQVQoUy2Qy04CURAF6/QQFBCELxR8rHSpG030iwWGlyBOH3OHWXelcqr1OP+2R0EOwFfCFUiCs9EZdEhib/TwsnJzIzzSBewLbPQH+jFxMNomWryunJMgxwUOsg8COBUIYpvE1mj+UTtvRU6DpsCDYoQ4gjZJtUlinejuc+2cVTSzDp6o3ViOVZ3EKqnWxfhVu5mKFu7MrbEzFSiWiebvxRg0E1G2+lrtSB1MtTPqzFq8rV1C2qCyr5Rj4he0T2Jnok50/7y0x0EOLyHuleTLH+NotO/MT/OlmxF4GLgP9FTeiBrQKS/1u+QfcWKSmTJkd8MAAAAASUVORK5CYII=) center 100%/100% 200%;
$landing-footer-dropdown-wrapper-bg-gradient:   radial-gradient(#54C9F8, #645EED) center 100%/100% 200%;

// sec5
$landing-sec5-floating-box-positionXY: (
  "1": translateX(-30px) translateY(50px),
  "2": translateX(20px) translateY(-90px),
  "3": translateX(80px) translateY(-40px),
  "4": translateX(-270px) translateY(240px),
  "5": translateX(150px) translateY(-160px),
  "6": translateX(370px) translateY(140px),
  "7": translateX(-510px) translateY(320px),
  "8": translateX(-10px) translateY(850px),
  "9": translateX(130px) translateY(500px),
);

$landing-sec5-floating-box-positionXY-2D: (
  "1": "",
  "2": translateX(50px) translateY(50px),
  "3": translateX(100px) translateY(100px),
  "4": translateX(170px) translateY(-220px),
  "5": translateX(150px) translateY(-160px),
  "6": translateX(370px) translateY(140px),
  "7": translateX(500px) translateY(-265px),
  "8": translateX(250px) translateY(850px),
  "9": translateX(130px) translateY(500px),
);

$landing-sec5-floating-box-rotate-direction: (
  "top": rotateX(233deg) rotateY(179deg) rotateZ(46deg),
  "bottom": rotateX(53deg) rotateY(-1deg) rotateZ(46deg),
  "right": rotateX(53deg) rotateY(-1deg) rotateZ(-46deg)
);

$landing-sec5-floating-box: (
  "1": (
    "box-shadow":           40px 40px 40px rgba(#164770, 0.1),
    "width":                205px,
    "height":               255px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "1")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "1")} translateZ(-50px),
    "animation":            floating_box_1,
    "animation-duration":   25s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "1")},
    "z-index":              4
  ),
  "2": (
    "box-shadow":           -40px 40px 40px rgba(#164770, 0.1),
    "width":                160px,
    "height":               255px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "2")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "2")} translateZ(-150px),
    "animation":            floating_box_2,
    "animation-duration":   15s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "2")},
    "z-index":              3
  ),
  "3": (
    "box-shadow":           -40px 40px 40px rgba(#164770, 0.1),
    "width":                150px,
    "height":               190px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "3")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "3")} translateZ(-250px),
    "animation":            floating_box_3,
    "animation-duration":   10s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "3")},
    "z-index":              2
  ),
  "4": (
    "box-shadow":           -40px -40px 40px rgba(#164770, 0.1),
    "width":                150px,
    "height":               290px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "4")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "top")} #{map-get($landing-sec5-floating-box-positionXY, "4")} translateZ(75px),
    "animation":            floating_box_4,
    "animation-duration":   25s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "top")} #{map-get($landing-sec5-floating-box-positionXY, "4")},
    "z-index":              2
  ),
  "5": (
    "box-shadow":           40px 40px 40px rgba(#164770, 0.1),
    "width":                290px,
    "height":               260px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "5")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "5")} translateZ(-175px),
    "animation":            floating_box_5,
    "animation-duration":   20s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "5")},
  ),
  "6": (
    "box-shadow":           40px 40px 40px rgba(#164770, 0.1),
    "width":                295px,
    "height":               355px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "6")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "bottom")} #{map-get($landing-sec5-floating-box-positionXY, "6")} translateZ(-100px),
    "z-index":              2
  ),
  "7": (
    "box-shadow":           -40px -40px 40px rgba(#164770, 0.1),
    "width":                253px,
    "height":               305px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "7")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "top")} #{map-get($landing-sec5-floating-box-positionXY, "7")} translateZ(75px),
  ),
  "8": (
    "box-shadow":           -40px 40px 40px rgba(#164770, 0.1),
    "width":                275px,
    "height":               375px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "8")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "right")} #{map-get($landing-sec5-floating-box-positionXY, "8")} translateZ(175px),
    "animation":            floating_box_8,
    "animation-duration":   17s,
    "animation-base":       #{map-get($landing-sec5-floating-box-rotate-direction, "right")} #{map-get($landing-sec5-floating-box-positionXY, "8")},
    "z-index":              2
  ),
  "9": (
    "box-shadow":           -40px 40px 40px rgba(#164770, 0.1),
    "width":                180px,
    "height":               230px,
    "transform-2D":         rotate(53deg) #{map-get($landing-sec5-floating-box-positionXY-2D, "9")},
    "transform":            #{map-get($landing-sec5-floating-box-rotate-direction, "right")} #{map-get($landing-sec5-floating-box-positionXY, "9")} translateZ(-175px),
  )
);

// sec6
$landing-sec6-card-width:                 280px;
$landing-sec6-card-height:                490px;
$landing-sec6-card-left-spacing:          $landing-sec6-card-width + 10;
$landing-sec6-card-right-spacing:         10px;
$landing-sec6-card-spacing:               12%;
$landing-sec6-card-left-shadow:           20px 50px 50px rgba(#2F4B65, 0.5);
$landing-sec6-card-right-shadow:          -20px 50px 50px rgba(#2F4B65, 0.5);


// ----- template ----- //

$template-bg:                             url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA/klEQVQoU02QMW7DMAxFSUohrdiWcrc4R6h6qA4dOnQp0KVDhwy9T53ZkmtbBW0HyCjo4f3/ibHrf8aGJLWG88lIai2nQJK85blCWQAYAQSfu/46MVbZG0necPZWhkB8fyu0wk/n/hsJXWpQ1s9gDzkYGVrLOZDMjAxqjJfbF5bi/iqq1Dgq3BoeTiTZW84NCagxnvtPQDgWKC4HK8nfY7XrVmc5IGO89B9lKU7hyall76rx3h40IdfEGLvfdwA8FgAH2lUHrdCjmdbVbwXBQVG4uKmmamgNj3ts8iRDsOvqV10NZYufzXaq7A2nhxoYu9sLwgaVHR7rDVrh3fwPwVNxEFJvon4AAAAASUVORK5CYII=) center top/100% 290px no-repeat;
$template-bg-gradient:                    linear-gradient(110deg, rgba($c-brand-purple, 0.77) 20%, rgba($c-brand-blue2, 0.77) 70%) 0 0/100% 290px no-repeat;
$template-subtab-bg-gradient:             linear-gradient(to right, nth($c-skyblue-list, 5), nth($c-info-list, 5));

