---
notes: |
  Form state
---

<p class="demo-title">Basic</p>

<!-- Disable state -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--disable">
  <input type="text" placeholder="Disable state" class="{{styleguide.prefix}}-input">
</div>

<!-- Alarm state -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--alarm">
  <input type="text" placeholder="Alarm state" class="{{styleguide.prefix}}-input">
</div>

<!-- Alarm state not editable (disabled) -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--alarm {{styleguide.state}}--alarm-disable">
  <input type="text" placeholder="Alarm state not editable (disabled)" class="{{styleguide.prefix}}-input">
</div>

<!-- Warning state -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--warning">
  <input type="text" placeholder="Warning state" class="{{styleguide.prefix}}-input">
</div>

<p class="demo-title">With Icon</p>

<!-- Normal state with icon on the left side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--icon-left">
  <input type="text" placeholder="Normal state with icon on the left side" class="{{styleguide.prefix}}-input">
  <i class="icon-search"></i>
</div>

<!-- Disable state with icon on the right side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--disable {{styleguide.state}}--icon-right">
  <input type="text" placeholder="Disable state with icon on the right side" class="{{styleguide.prefix}}-input">
  <i class="icon-lock"></i>
</div>

<!-- Alarm state with icon on the right side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--alarm {{styleguide.state}}--icon-right">
  <input type="text" placeholder="Alarm state with icon on the right side" class="{{styleguide.prefix}}-input">
  <i class="icon-exclamation"></i>
</div>

<!-- Success state with icon on the right side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--success {{styleguide.state}}--icon-right">
  <input type="text" placeholder="Success state with icon on the right side" class="{{styleguide.prefix}}-input">
  <i class="icon-check"></i>
</div>
