
<!-- Button icon on the right side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-state--icon-right">
  <input type="text" placeholder="Button icon on the right side" class="{{styleguide.prefix}}-input">
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-search"></i>
  </button>
</div>

<!-- Button icon on the left side -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-state--icon-left">
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-search"></i>
  </button>
  <input type="text" placeholder="Button icon on the left side" class="{{styleguide.prefix}}-input">
</div>

<!-- Show clear field button after input someting -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--icon-clear">
  <input type="text" placeholder="Show clear field button after input someting" class="{{styleguide.prefix}}-input">
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon {{styleguide.state}}--clear">
    <i class="icon-times-circle"></i>
  </button>
</div>

<!-- Show clear field button after input someting -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-state--icon-left {{styleguide.state}}--icon-clear">
  <input type="text" placeholder="Show clear field button after input someting" class="{{styleguide.prefix}}-input">
  <i class="icon-search"></i>
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon {{styleguide.state}}--clear">
    <i class="icon-times-circle"></i>
  </button>
</div>

<!-- Show clear field button after input someting -->
<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-state--icon-right {{styleguide.state}}--icon-clear">
  <input type="text" placeholder="Show clear field button after input someting" class="{{styleguide.prefix}}-input">
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon {{styleguide.state}}--clear">
    <i class="icon-times-circle"></i>
  </button>
  <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-icon">
    <i class="icon-search"></i>
  </button>
</div>
