---
notes: |
  Buttons in input groups are a bit different and require one extra level of nesting. Instead of .input-group-addon, you'll need to use .input-group-btn to wrap the buttons. This is required due to default browser styles that cannot be overridden.
---

<div class="{{styleguide.prefix}}-input-group">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">GO</button>
  </span>
  <input type="text" placeholder="Button Addon on the left side" class="{{styleguide.prefix}}-input">
</div>

<div class="{{styleguide.prefix}}-input-group">
  <input type="text" placeholder="Button Addon on the right side" class="{{styleguide.prefix}}-input">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">Search</button>
  </span>
</div>

<div class="{{styleguide.prefix}}-input-group">
  <input type="text" placeholder="Button Addon on the right side" class="{{styleguide.prefix}}-input">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">
      <i class="icon-copy"></i><span class="{{styleguide.prefix}}-btn-txt">Copy</span>
    </button>
  </span>
</div>

