<div class="{{styleguide.prefix}}-input-group">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <!-- Buttons and dropdown menu -->
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">GO</button>
    <button 
      type="button" 
      class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square {{styleguide.prefix}}-dropdown-toggle" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"><span class="{{styleguide.prefix}}-caret"></span></button>
    <ul class="{{styleguide.prefix}}-dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="{{styleguide.prefix}}-divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </span>
  <input type="text" placeholder="Segemented buttons on the left side" class="{{styleguide.prefix}}-input">
</div>

<div class="{{styleguide.prefix}}-input-group">
  <input type="text" placeholder="Segemented buttons on the right side" class="{{styleguide.prefix}}-input">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <!-- Buttons and dropdown menu -->
    <button 
      type="button" 
      class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-dropdown-toggle" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"><span class="{{styleguide.prefix}}-btn-txt">Category</span><span class="{{styleguide.prefix}}-caret"></span></button>
    <ul class="{{styleguide.prefix}}-dropdown-menu {{styleguide.state}}--right">
      <li><a href="#">All</a></li>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Computer Science</a></li>
    </ul>
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary">Search</button>
  </span>
</div>
