---
notes: |
  While you can only have one add-on per side, you can have multiple buttons inside a single .input-group-btn.
---

<div class="{{styleguide.prefix}}-input-group">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <!-- Buttons -->
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="{{styleguide.prefix}}-icon icon-font"></i></button>
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="{{styleguide.prefix}}-icon icon-bold"></i></button>
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="{{styleguide.prefix}}-icon icon-italic"></i></button>
  </span>
  <input type="text" placeholder="Multiple buttons on the left side" class="{{styleguide.prefix}}-input">
</div>

<div class="{{styleguide.prefix}}-input-group">
  <input type="text" placeholder="Multiple buttons on the right side" class="{{styleguide.prefix}}-input">
  <span class="{{styleguide.prefix}}-input-group__btns">
    <!-- Buttons -->
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="{{styleguide.prefix}}-icon icon-question-circle"></i></button>
    <button type="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Action</button>
  </span>
</div>
