<!doctype html>
<html lang="zh-TW" class="{{#if htmlClass}}{{htmlClass}}{{/if}}{{#if fabricator}} fabricator{{/if}}">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="keywords" content="GSS, UI kit, Vital, UI design, web applications">
  <meta name="description" content="Vital UI Kit, a graceful and customizable front-end UI kit for web development. - by Galaxy Software Services">
	<meta property="og:title" content="Vital UI Kit">
  <meta property="og:image" content="https://raw.githubusercontent.com/GSS-FED/vital-ui-kit/develop/assets/img/icon.png">
  <meta property="og:site_name" content="Vital UI Kit">
  <meta property="og:type" content="object">
  <meta property="og:url" content="https://gss-fed.github.io/vital-ui-kit/">
  <meta property="og:description" content="Vital UI Kit, a graceful and customizable front-end UI kit for web development. - by Galaxy Software Services">
	<title>{{#if title}}{{title}} | {{/if}}Vital UI Kit</title>
	
  <link rel="icon" href="https://raw.githubusercontent.com/GSS-FED/vital-ui-kit/develop/assets/img/icon.png"/>
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/GSS-FED/vital-ui-kit/develop/assets/img/icon.png"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
	<link rel="stylesheet" href="./css/vital-ui-kit.css">
	<link rel="stylesheet" href="./css/styleguide.css">

</head>
<body>

	{{#if singlePage}}
	{{else}}
	  <nav class="nav-wrapper">
	    <div class="nav-menu">
	    	<a class="logo {{#if isIndex}}is-active{{/if}}" href="index.html"></a>
	      <a class="{{#if fabricator}}is-active{{/if}}" href="getting-started.html">Documentation</a>
	      <a class="{{#if isTemplate}}is-active{{/if}}" href="template.html">Examples</a>
	      <a class="{{#if isKendo}}is-active{{/if}}" href="kendo-demo.html"><span>Kendo theme</a>
      	<a class="{{#if isReact}}is-active{{/if}}" href="react.html">React Version</a>
	      <a href="https://uwillx.com/" target="_blank">Contact</a>
	    </div>
	    <div class="nav-dropdown-wrapper download-wrapper">
	    	<a class="nav-dropdown-toggle" href="https://github.com/GSS-FED/vital-ui-kit/archive/build.zip">下載 UI KIT</a>
	    </div>
	  </nav>
	{{/if}}

	{{#if fabricator}}

		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}

	{{else if mainPage}}
	{{/if}}


	{% body %}


	{{#if fabricator}}
		</div>
	{{/if}}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122331930-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122331930-1');
  </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="./js/vital-ui-kit.js"></script>
	{{#if javascript}}<script src="./js/{{javascript}}"></script>{{/if}}

  {{#if isKendo}}
    <script src="https://kendo.cdn.telerik.com/2014.3.1316/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2014.3.1316/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2014.3.1316/js/messages/kendo.messages.zh-TW.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2014.3.1316/js/kendo.timezones.min.js"></script>
    <script src="https://demos.telerik.com/kendo-ui/content/shared/js/kendo-dojo.js"></script>
    <script src="https://demos.telerik.com/kendo-ui/content/shared/js/console.js"></script>
    <script src="https://demos.telerik.com/kendo-ui/content/shared/js/prettify.js"></script>
    <!-- <![if gte IE 8]>-->
    <script src="https://demos.telerik.com/kendo-ui/content/shared/inspector/inspector.js"></script>
    <link href="https://demos.telerik.com/kendo-ui/content/shared/inspector/inspector.css" rel="stylesheet" />
    <!--<![endif]-->
    
    <script>
      $(document).ready(function() {
      kendo.bind($("#example"), {
        countries: [
          "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belarus", "Belgium", "Bosnia & Herzegovina", "Bulgaria",
          "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Georgia", "Germany", "Greece",
          "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Macedonia",
          "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino",
          "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "Ukraine", "United Kingdom", "United States",
          "Vatican City"
        ],
        multiSelectValue: ["Finland", "Estonia"],
        today: kendo.toString(new Date()),
        sharedDataSource: new kendo.data.DataSource({
          transport: {
            read: {
              url: 'https://demos.telerik.com/kendo-ui/content/web/datasource/internet-users.json',
              dataType: "json"
            }
          },
          sort: {
            field: "year",
            dir: "asc"
          },
          filter: [
            { field: "country", operator: "equals", value: "United States" },
            { field: "year", operator: "greaterThanEqual", value: 2000 }
          ],
          schema: {
            model: {
              fields: {
                year: {
                  type: "number"
                },
                value: {
                  type: "string"
                }
              }
            }
          }
        })
      });
    
      var serviceBaseUrl = "https://demos.telerik.com/kendo-ui/service";
      $("#scheduler").kendoScheduler({
        date: new Date("2013/6/13"),
        startTime: new Date("2013/6/13 07:00 AM"),
        endTime: new Date("2013/6/13 08:00 PM"),
        views: [
          { type: "day", selected: true },
          "week",
          "month"
        ],
        editable: false,
        timezone: "Etc/UTC",
        dataSource: {
          batch: true,
          transport: {
            read: {
              url: serviceBaseUrl + "/meetings",
              dataType: "jsonp"
            },
            update: {
              url: serviceBaseUrl + "/meetings/update",
              dataType: "jsonp"
            },
            create: {
              url: serviceBaseUrl + "/meetings/create",
              dataType: "jsonp"
            },
            destroy: {
              url: serviceBaseUrl + "/meetings/destroy",
              dataType: "jsonp"
            },
            parameterMap: function(options, operation) {
              if (operation !== "read" && options.models) {
                return { models: kendo.stringify(options.models) };
              }
            }
          },
          schema: {
            model: {
              id: "meetingID",
              fields: {
                meetingID: { from: "MeetingID", type: "number" },
                title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                start: { type: "date", from: "Start" },
                end: { type: "date", from: "End" },
                startTimezone: { from: "StartTimezone" },
                endTimezone: { from: "EndTimezone" },
                description: { from: "Description" },
                recurrenceId: { from: "RecurrenceID" },
                recurrenceRule: { from: "RecurrenceRule" },
                recurrenceException: { from: "RecurrenceException" },
                roomId: { from: "RoomID", nullable: true },
                atendees: { from: "Atendees", nullable: true },
                isAllDay: { type: "boolean", from: "IsAllDay" }
              }
            }
          }
        }
      });
    
      var notification = $("#notification").kendoNotification({
        autoHideAfter: 0,
        hideOnClick: false,
        appendTo: "#notification"
      }).data("kendoNotification");
    
      notification.info("information");
      notification.success("success");
      notification.warning("warning");
      notification.error("error");
    });
    
      function initialize() {
        $("#area-chart").kendoChart({
          transitions: false,
          title: {
            text: "Internet Users"
          },
          legend: {
            position: "bottom"
          },
          seriesDefaults: {
            type: "area"
          },
          series: [{
            name: "United States",
            data: [67.96, 68.93, 75, 74, 78]
          }, {
            name: "World",
            data: [15.7, 16.7, 20, 23.5, 26.6]
          }],
          valueAxis: {
            labels: {
              format: "{0}%"
            }
          },
          categoryAxis: {
            categories: [2005, 2006, 2007, 2008, 2009]
          },
          tooltip: {
            visible: true,
            format: "{0}%"
          }
        });
      
        $("#mixed-chart").kendoChart({
          transitions: false,
          title: {
            text: "Hybrid car mileage report"
          },
          legend: {
            position: "bottom"
          },
          series: [{
            type: "column",
            data: [20, 40, 45, 30, 50],
            stack: true,
            name: "on battery"
          }, {
            type: "column",
            data: [20, 30, 35, 35, 40],
            stack: true,
            name: "on gas"
          }, {
            type: "line",
            data: [7.8, 6.2, 5.9, 7.4, 5.6],
            name: "l/100 km",
            axis: "l100km"
          }],
          valueAxes: [{
            title: { text: "miles" },
            min: 0,
            max: 100
          }, {
            name: "l100km",
            title: { text: "liters per 100km" }
          }],
          categoryAxis: {
            categories: ["Mon", "Tue", "Wed", "Thu", "Fri"],
            axisCrossingValues: [0, 10]
          }
        });
      
      
        $("#bubble-chart").kendoChart({
          transitions: false,
          title: {
            text: "Crime statistics"
          },
          legend: {
            visible: false
          },
          dataSource: {
            transport: {
              read: {
                url: 'https://demos.telerik.com/kendo-ui/content/dataviz/js/crime-stats.json',
                dataType: "json"
              }
            }
          },
          series: [{
            type: "bubble",
            xField: "murder",
            yField: "burglary",
            sizeField: "population",
            categoryField: "state"
          }],
          xAxis: {
            labels: {
              format: "{0:N0}"
            },
            title: {
              text: "Murders per 100,000 population"
            }
          },
          yAxis: {
            labels: {
              format: "{0:N0}"
            },
            title: {
              text: "Burglaries per 100,000 population"
            }
          },
          tooltip: {
            visible: true,
            format: "{3}: Population {2:N0}"
          }
        });
      
        $("#pie-chart").kendoChart({
          transitions: false,
          title: {
            text: "Break-up of Spain Electricity Production for 2008"
          },
          legend: {
            position: "bottom",
            labels: {
              template: "#= text # (#= value #%)"
            }
          },
          seriesDefaults: {
            labels: {
              visible: true,
              background: "transparent"
            }
          },
          series: [{
            type: "pie",
            data: [{
              category: "Hydro",
              value: 22
            }, {
              category: "Solar",
              value: 2
            }, {
              category: "Nuclear",
              value: 49
            }, {
              category: "Wind",
              value: 27
            }]
          }],
          tooltip: {
            visible: true,
            format: "{0}%"
          }
        });
      
        $("#linear-gauge").kendoLinearGauge({
          transitions: false,
          pointer: {
            value: 30
          }
        });
      
        $("#radial-gauge").kendoRadialGauge({
          transitions: false,
          pointer: {
            value: 40
          },
          scale: {
            max: 180,
            ranges: [
              { from: 160, to: 180, color: "#ff0000" }
            ]
          }
        });
      }
  
      $(document).ready(initialize);
      $("#example").bind("kendo:skinChange", initialize);
    </script>
  {{/if}}
  
</body>
</html>
