/*******************************************
 * Copyright 2017
 *
 * vital-ui-kit, v0.0.2-dev
 * UI Kit for GSS Vital Family
 *
 * By Neil Lin (https://github.com/Neil-Lin),Evan Wu (https://github.com/evanwu-tw),YuRu Lee (https://github.com/YuRu-Lee),Laura Lee (https://github.com/l443018),Patric,CJies Tan (https://github.com/cjies)
 *
 * License: Galaxy Software Services Corporation | 叡揚資訊股份有限公司 版權所有 © 2016
 *
 ******************************************/
.demo-title {
  padding: 10px 0; }

.demo-btn-paragraph {
  margin-bottom: 10px; }

.demo-btn-level {
  width: 320px;
  margin: 10px; }

.demo-btn-title {
  padding: 15px 0; }

.demo-basic-card {
  width: 300px;
  height: 220px;
  margin: 10px; }

.demo-hero-card {
  width: 300px;
  height: 400px;
  margin: 10px;
  float: left; }

#hero-card .fa-facebook {
  color: #3b5998; }

#hero-card .fa-twitter {
  color: #55acee; }

#hero-card .fa-tumblr {
  color: #32506d; }

.demo-icon-card {
  margin: 10px;
  display: inline-block;
  vertical-align: top; }

.demo-checkbox-inline {
  display: inline-block;
  vertical-align: middle; }

.demo-radio-inline {
  display: inline-block;
  vertical-align: middle; }

.demo-switches--example {
  margin-bottom: 40px;
  margin-left: 30px;
  display: inline-block; }

.demo-tooltip {
  margin-right: 5px; }

.demo-tooltip-avatar {
  vertical-align: middle; }

.demo-avatar {
  display: inline-block;
  margin-right: 10px; }

.demo-avatar-badge-row {
  margin-bottom: 30px; }

.demo-avatar-badge {
  margin-right: 25px; }

.demo-avatar-size-row {
  display: inline-block;
  margin-right: 40px; }

.demo-cell-group {
  margin-bottom: 10px; }

.demo-cell-group .sg-cell {
  position: relative;
  background-color: pink;
  padding: 10px;
  text-align: center; }

.demo-cell-group .sg-cell:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #fff; }

.demo-scrollshadow {
  width: 200px;
  height: 150px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ddd; }

.demo-scrollshadow li {
  padding: 10px;
  height: 50px; }

.demo-scrollshadow-h li {
  display: inline-block;
  vertical-align: middle; }

.demo-shadow {
  display: inline-block;
  width: 160px;
  height: 120px;
  margin: 10px;
  background-color: whitesmoke; }

.demo-ellipsis {
  background: #ddd;
  width: 300px;
  padding: 10px; }

.demo-quote {
  background: #eee;
  padding-left: 5px;
  padding: 10px;
  width: 300px; }
  .demo-quote:before {
    color: #ccc; }

.demo-ol-wrap, .demo-ul-wrap {
  background: #eee;
  margin-bottom: 10px;
  display: inline-block; }

.demo-ul-wrap ul, .demo-ol-wrap ol {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  padding-left: 20px; }

.demo-ul-wrap li, .demo-ol-wrap li {
  margin: 10px 0; }

.demo-ol-wrap {
  padding-left: 20px; }

body {
  overflow-x: hidden !important; }

h2 {
  font-size: 48px;
  font-weight: 600; }

h3 {
  font-size: 24px;
  font-weight: 600; }

header {
  height: 1124px;
  background: url(../img/landing-page/ui-kit-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%; }

.nav-wrap {
  background: url(../img/landing-page/ui-kit-nav-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 56px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 3; }
  .nav-wrap .main-menu {
    display: inline-block;
    position: relative;
    left: 5%;
    top: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
    .nav-wrap .main-menu li {
      display: inline-block; }
    .nav-wrap .main-menu a {
      color: #fff;
      font-size: 16px;
      display: inline-block;
      padding: 15px 60px;
      text-decoration: none;
      background: #333333;
      -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      position: relative; }
      .nav-wrap .main-menu a:hover {
        background: #fff;
        color: #333;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4); }
  .nav-wrap .nav-download-wrap {
    float: right;
    line-height: 56px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative; }
    .nav-wrap .nav-download-wrap:hover .download-menu {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto; }
    .nav-wrap .nav-download-wrap .download-icon {
      background: url(../img/landing-page/download-icon.png) no-repeat bottom center/contain;
      width: 40px;
      height: 25px;
      display: inline-block;
      position: relative;
      top: 3px; }
    .nav-wrap .nav-download-wrap .nav-download-btn {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: 22px; }
    .nav-wrap .nav-download-wrap .download-menu {
      background: -webkit-linear-gradient(bottom, rgba(101, 97, 238, 0.6) 0, rgba(87, 200, 246, 0.8) 100%);
      background: linear-gradient(to top, rgba(101, 97, 238, 0.6) 0, rgba(87, 200, 246, 0.8) 100%);
      position: relative;
      top: -2px;
      z-index: 1;
      padding-bottom: 10px;
      pointer-events: none;
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% -10px;
      transform-origin: 50% -10px;
      -webkit-transition: opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 400ms 100ms;
      transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .nav-wrap .nav-download-wrap .download-menu a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 0 30px;
        position: relative;
        -webkit-transition: all 200ms;
        transition: all 200ms; }
        .nav-wrap .nav-download-wrap .download-menu a:before {
          content: "";
          position: absolute;
          bottom: 10px;
          left: 50%;
          right: 50%;
          height: 1px;
          background: rgba(255, 255, 255, 0.6);
          -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .nav-wrap .nav-download-wrap .download-menu a:hover:before {
          left: 20px;
          right: 20px; }

.sec1 {
  text-align: center; }
  .sec1 h2 {
    color: #000;
    margin-top: -100px;
    margin-bottom: 50px; }
  .sec1 p {
    font-size: 18px;
    color: #000;
    line-height: 2; }

.sec2 {
  text-align: center;
  background: url(../img/landing-page/ui-kit-sec1-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 735px;
  margin-top: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
  .sec2 .txt-wrap {
    position: relative;
    top: 58%; }
    .sec2 .txt-wrap h2 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 50px; }
    .sec2 .txt-wrap p {
      font-size: 20px;
      color: #fff;
      line-height: 2; }

.sec3 {
  padding: 80px 100px 40px 100px; }
  .sec3 .feature-item {
    padding: 0 60px;
    text-align: center; }
    .sec3 .feature-item .feature-icon img {
      width: 150px; }
    .sec3 .feature-item h3 {
      margin-bottom: 20px; }
    .sec3 .feature-item p {
      line-height: 1.6;
      color: 505050;
      font-size: 16px;
      text-align: justify; }

.sec4 {
  background: url(../img/landing-page/ui-kit-sec3-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 650px;
  margin-top: 100px; }
  .sec4 .txt-wrap {
    position: relative;
    left: 60%;
    top: 35%; }
  .sec4 h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px; }
  .sec4 p {
    color: #fff;
    width: 30%;
    font-size: 20px;
    line-height: 1.7; }

.sec5 {
  background: url(../img/landing-page/ui-kit-sec4-bg.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  text-align: left; }
  .sec5 .txt-wrap {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-top: 120px; }
  .sec5 h2 {
    margin-top: 0;
    margin-bottom: 40px; }
  .sec5 p {
    font-size: 18px;
    line-height: 2; }
  .sec5 .demo-link {
    color: #fff;
    background: #373737;
    padding: 15px 40px;
    margin-top: 30px;
    font-size: 22px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .sec5 .demo-link:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
      .sec5 .demo-link:hover:after {
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); }
    .sec5 .demo-link:after {
      content: "";
      left: 10%;
      right: 10%;
      top: 30%;
      position: absolute;
      height: 30px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 300ms;
      transition: all 300ms; }

.sec6 {
  background: url(../img/landing-page/ui-kit-sec5-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 680px; }

.btn-wrap {
  text-align: center;
  padding-left: 20px; }
  .btn-wrap:hover .download-menu {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto; }
  .btn-wrap .download-menu {
    background: -webkit-linear-gradient(bottom, rgba(101, 97, 238, 0.4) 0, rgba(87, 200, 246, 0.6) 100%);
    background: linear-gradient(to top, rgba(101, 97, 238, 0.4) 0, rgba(87, 200, 246, 0.6) 100%);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 10px;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% -10px;
    transform-origin: 50% -10px;
    -webkit-transition: opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 400ms 100ms;
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 400ms 100ms, -webkit-transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .btn-wrap .download-menu a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 20px 30px;
      position: relative;
      -webkit-transition: all 200ms;
      transition: all 200ms; }
      .btn-wrap .download-menu a:before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        right: 50%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .btn-wrap .download-menu a:hover:before {
        left: 30%;
        right: 30%; }
  .btn-wrap .btn-inner {
    display: inline-block;
    background: url(../img/landing-page/ui-kit-btn-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: all 200ms;
    transition: all 200ms; }
    .btn-wrap .btn-inner:hover {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); }
    .btn-wrap .btn-inner:before {
      content: "";
      background: url(../img/landing-page/ui-kit-btn-shadow.png);
      width: 470px;
      height: 146px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      bottom: -60px;
      left: -32px; }
  .btn-wrap .download-btn {
    color: #fff;
    display: inline-block;
    padding: 30px 115px;
    font-size: 34px;
    position: relative;
    left: 24px;
    text-decoration: none;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    letter-spacing: 5px; }
    .btn-wrap .download-btn:before {
      content: "";
      background: url(../img/landing-page/download-icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 45px;
      position: absolute;
      left: 56px;
      top: 24px;
      height: 38px;
      -webkit-transition: all 200ms;
      transition: all 200ms; }

.footer {
  background: url(../img/landing-page/ui-kit-footer-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: 150px;
  position: relative; }
  .footer:after {
    content: "";
    position: absolute;
    left: 15%;
    right: 15%;
    height: 50px;
    bottom: 70px;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.5);
    z-index: 0; }
  .footer .footer-inner {
    background: #373737;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 50px;
    padding: 30px 0;
    z-index: 3;
    vertical-align: middle; }
  .footer .info-wrap {
    text-align: center;
    color: rgba(255, 255, 255, 0.7); }
  .footer .info-logo {
    display: inline-block;
    background: url(../img/landing-page/ui-kit-vital-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 250px;
    height: 75px; }
  .footer .info-content {
    display: inline-block;
    padding: 0 20px;
    text-align: left; }
    .footer .info-content div {
      padding: 20px 0; }
    .footer .info-content .info-gss {
      color: #fff; }

/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
code,
code[class*='language-'],
pre[class*='language-'] {
  color: #333;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
  letter-spacing: normal; }

pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%; }

p code,
li code,
table code {
  margin: 0;
  border-radius: 3px;
  padding: 0.2em 0;
  font-size: 85%;
  background-color: #f5f5f5; }
  p code:before, p code:after,
  li code:before,
  li code:after,
  table code:before,
  table code:after {
    letter-spacing: -0.2em;
    content: '\00a0'; }

code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f7f7f7; }

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #969896; }

.token.punctuation, .token.string, .token.atrule, .token.attr-value {
  color: #183691; }

.token.property, .token.tag {
  color: #63a35c; }

.token.boolean, .token.number {
  color: #0086b3; }

.token.selector, .token.attr-name,
.token.attr-value .punctuation:first-child, .token.keyword, .token.regex, .token.important {
  color: #a71d5d; }

.token.operator, .token.entity, .token.url,
.language-css .token.string {
  color: #a71d5d; }

.token.entity {
  cursor: help; }

.namespace {
  opacity: 0.7; }

.f-color-chips {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.f-color-chip {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border-top-width: 8em;
  border-top-style: solid;
  border-bottom-width: 0;
  border-bottom-style: solid;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.75em;
  padding: 1em;
  margin-bottom: 2em;
  line-height: 1.5; }
  @media (min-width: 60em) {
    .f-color-chip {
      -webkit-flex-basis: 13em;
      -ms-flex-preferred-size: 13em;
      flex-basis: 13em; } }
  .f-color-chip .f-color-chip__color {
    background-color: #fff;
    content: attr(data-color);
    font-weight: 400; }

.f-controls {
  box-sizing: border-box; }
  .f-controls:after {
    clear: both; }
  .f-controls:before, .f-controls:after {
    display: table;
    content: ' '; }
  .f-controls .f-control {
    display: block;
    float: left;
    text-align: center;
    width: 33.33333%;
    margin: 0;
    padding: 1rem 0; }
    .f-controls .f-control.f-active {
      box-shadow: inset 0 0.25rem 0 0 #757575; }
      .f-controls .f-control.f-active use {
        fill: #cccccc; }
    .f-controls .f-control svg {
      vertical-align: middle; }
      .f-controls .f-control svg use {
        fill: #757575; }

.f-control {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.66rem; }
  .f-control:first-child {
    margin-left: 0; }
  .f-control svg {
    width: 0.875rem;
    height: 0.875rem; }
    .f-control svg use {
      fill: #cccccc; }

.f-control-bar {
  padding: 1rem 0; }
  .f-control-bar:after {
    clear: both; }
  .f-control-bar:before, .f-control-bar:after {
    display: table;
    content: ' '; }
  @media (max-width: 960px) {
    .f-control-bar {
      position: fixed;
      top: 0;
      left: 10px;
      background: white;
      z-index: 99;
      width: 100%; } }

.f-menu-toggle {
  cursor: pointer;
  vertical-align: middle; }
  .f-menu-toggle svg {
    display: block;
    float: left;
    margin-bottom: -1px; }

.f-item-group {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #cccccc; }
  .f-item-group:after {
    clear: both; }
  .f-item-group:before, .f-item-group:after {
    display: table;
    content: ' '; }
  .f-item-group:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  .f-item-group ~ .f-item-group {
    margin-top: 0; }
  .f-item-group > .f-item-group {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0; }
    .f-item-group > .f-item-group:first-of-type {
      margin-top: 0; }
    .f-item-group > .f-item-group:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }

.f-item-code {
  margin-top: 1.5rem; }

.f-item-preview {
  width: 35em; }
  .f-item-preview:after {
    clear: both; }
  .f-item-preview:before, .f-item-preview:after {
    display: table;
    content: ' '; }

.f-item-border-bottom {
  border-bottom: 1px solid #cccccc; }

.f-item-heading-group {
  margin-bottom: 1.5rem;
  vertical-align: middle; }
  .f-item-heading-group:after {
    clear: both; }
  .f-item-heading-group:before, .f-item-heading-group:after {
    display: table;
    content: ' '; }

.f-item-heading {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.2em; }
  .f-item-heading a {
    color: inherit;
    text-decoration: none; }
    .f-item-heading a:hover {
      text-decoration: underline; }

.f-item-controls {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem; }
  .f-item-controls .f-control {
    width: 0.875rem;
    height: 0.875rem;
    display: block;
    float: left; }
    .f-item-controls .f-control:hover use {
      fill: #757575; }
    .f-item-controls .f-control use {
      fill: #cccccc; }

.f-item-hidden {
  display: none; }

.f-item-notes {
  position: relative;
  font-size: 0.875rem;
  padding: 1rem 1.5em;
  margin-bottom: 1.5rem; }
  .f-item-notes:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #efefef; }

.f-labels {
  font-size: 1.5em; }

.f-list {
  list-style-type: disc;
  padding-left: 30px; }

.f-paragraph {
  line-height: 1.5; }

html {
  height: 100%; }
  html.f-menu-active {
    overflow: hidden; }
    @media (min-width: 60em) {
      html.f-menu-active {
        overflow: auto; } }

body {
  margin: 0;
  position: relative; }
  .f-menu-active body {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    @media (min-width: 60em) {
      .f-menu-active body {
        overflow: auto;
        height: auto; } }

.f-container {
  box-sizing: border-box;
  position: relative;
  padding: 0 1em;
  z-index: 0;
  min-height: 100vh; }
  .f-container:after {
    clear: both; }
  .f-container:before, .f-container:after {
    display: table;
    content: ' '; }
  .f-menu-active .f-container {
    -webkit-transform: translate(14rem, 0);
    transform: translate(14rem, 0); }
    @media (min-width: 60em) {
      .f-menu-active .f-container {
        margin-left: 14rem;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); } }

.f-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate(-14rem, 0);
  transform: translate(-14rem, 0);
  width: 14rem;
  height: 100%;
  z-index: 1;
  background-color: #1f1f1f;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .f-menu-active .f-menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .f-menu ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .f-menu > ul {
    margin-top: 0;
    margin-bottom: 1rem; }
    .f-menu > ul > li {
      margin-top: 1rem; }
  .f-menu li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0; }
  .f-menu a {
    display: block;
    padding: 0.33rem 2rem;
    color: #cccccc !important;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.5; }
    .f-menu a:hover {
      color: #cccccc !important;
      text-decoration: underline; }
    .f-menu a.f-active {
      box-shadow: inset 0.25rem 0 0 0 #757575; }
  .f-menu .f-menu__heading {
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 0.875rem; }
    .f-menu .f-menu__heading:hover {
      color: #757575; }
