---
notes: |
  Tabs with colored-background.
---
<div class="{{styleguide.prefix}}-tab-wrapper {{styleguide.prefix}}-tab-dark">
  <div class="{{styleguide.prefix}}-tab {{styleguide.state}}--active">
    <span class="{{styleguide.prefix}}-inline-txt">Tab 1</span>
    <span class="{{styleguide.prefix}}-badge">99+</span>
  </div>
  <div class="{{styleguide.prefix}}-tab">
    <span class="{{styleguide.prefix}}-inline-txt">Tab 2</span>
  </div>
  <div class="{{styleguide.prefix}}-tab">
    <span class="{{styleguide.prefix}}-inline-txt">Tab 3</span>
    <span class="{{styleguide.prefix}}-badge">99+</span>
  </div>
</div>
    