// *************************************
//
//   Layout
//   -> 外框架 ap-layout
//
// *************************************

// -------------------------------------
//   ap layout
// -------------------------------------

.#{$prefix}-layout-body {
  position: relative;
  height: 100%;

  body {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: $layout-body-bg;
    background-size: cover;
  }
}

.#{$prefix}-ap-wrapper {
  position: relative;
  height: 100%;
  margin: 0px auto;
  background-color: $ap-wrapper-bg-color;
  max-width: $ap-wrapper-max-width;

  // 設定最大寬度
  @include bp(false, false, desktop) {
    margin: $ap-wrapper-desktop-margin;
    height: $ap-wrapper-desktop-height;
  }
}

.#{$prefix}-ap-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: $ap-box-box-shadow;
}

.#{$prefix}-ap-header {
  position: absolute;
  top: $ap-header-top;
  left: $ap-header-left;
  right: $ap-header-right;
  height: $ap-header-height;
  background-color: $ap-header-bg-color;
  z-index: $ap-header-z-index;
  border-bottom: $ap-header-border-bottom;
}

.#{$prefix}-ap-container {
  position: relative;
  height: 100%;
}

.#{$prefix}-ap-nav {
  position: absolute;
  top: $ap-nav-top;
  bottom: $ap-nav-bottom;
  width: $ap-nav-width;
  transition: $ap-nav-transition;
  z-index: $ap-nav-z-index;
  background-color: $ap-nav-bg-color;
 
  &.#{$state}--open {
    width: $ap-nav-width;
  }

  .#{$prefix}-ap-header ~ & { // has header
    top: $ap-header-height;
  }
}

.#{$prefix}-ap-main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: $ap-main-z-index;
  
  .#{$prefix}-ap-header ~ & { // has header
    padding-top: $ap-main-padding-top;
  }

  .#{$prefix}-ap-nav ~ & { // has ap nav
    padding-left: $ap-main-padding-left;
    transition: $ap-main-transition;
  }
}


// -------------------------------------
//   RWD
// -------------------------------------

@include bp(nth($layout-bp-list, 2)) {

  // ----- shrinking nav ----- //
  
  .#{$prefix}-ap-nav {
    width: $open-nav-ap-nav-width;
  }

  .#{$prefix}-ap-main {
    .#{$prefix}-ap-nav ~ & { // has ap nav
      padding-left: $open-nav-ap-main-padding-left;
    }
  }

}

@include bp(nth($layout-bp-list, 1)) {
  
  // ----- bottom nav ----- //
  
  .#{$prefix}-ap-nav {
    top: auto;
    bottom: 0;
    width: nth($ap-nav-width-list, 1);
    height: $open-nav-ap-nav-width;

    .#{$prefix}-ap-header ~ & { // has header
      top: auto;
    }
  }

  .#{$prefix}-ap-main {
    .#{$prefix}-ap-nav ~ & { // has ap nav
      padding-left: 0;
      padding-bottom: $open-nav-ap-nav-width;
    }
  }

}

