// *************************************
//
//   getting started page style
//
// *************************************


.getting-started {
  section {
    padding-bottom: 50px;
  }
  p {
    padding: 10px 0;
    line-height: 1.4rem;
  }
  li {
    padding: 10px 0;
  }
  .browser-list {
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
}


