// *************************************
//
//   landing page
//
// *************************************

.landing-page {
  .landing-wrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  body {
    height: 100%;
    font-family:  "Heiti TC";
  }

  h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    padding-top: 1.802em;
    padding-bottom: 1.802em;
    letter-spacing: 7px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding-top: 1.602em;
    padding-bottom: 1.602em;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 3px;
  }

  @include bp(phone-land) {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }
}

@import "landing-page/sec0";
@import "landing-page/sec1";
@import "landing-page/sec2";
@import "landing-page/sec3";
@import "landing-page/sec4";
@import "landing-page/sec5";
@import "landing-page/sec6";
@import "landing-page/sec7";


// -------------------------------------
//   RWD
// -------------------------------------

.landing-container {
  margin: 0 auto;
  max-width: $content-max-width;
}


// -------------------------------------
//   footer
// -------------------------------------

.footer-dropdown-wrapper {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 500px;
  background: $landing-footer-dropdown-wrapper-bg;
  background: $landing-footer-dropdown-wrapper-bg-gradient;
  font-weight: bold;
  cursor: pointer;

  // shadow
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 8%;
    height: 100%;
    width: 84%;
    box-shadow: 0 50px 100px rgba(#008FFF, 0.35);
    transition: all 0.3s;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

    &:before {
      opacity: 0;
    }

    .footer-dropdown-menu {
      transform: scale(1);
      opacity: 1;
    }
  }

  .footer-dropdown-toggle {
    text-align: center;
    padding: 30px 0;
    font-size: 34px;
    left: 24px;
    color: #fff;
    text-decoration: none;
    transition: all 200ms;
    letter-spacing: 7px;

    // icon
    &:before {
      @extend %icon;
      content: $icon-download2;
      font-size: 48px;
      margin-right: 15px;
      vertical-align: text-bottom;
    }

    @include bp(phone-middle) {
      font-size: 28px;

      &:before {
        margin-right: 5px;
        font-size: 40px;
      }
    }
  }

  .footer-dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    background: $landing-footer-dropdown-menu-bg;
    background: $landing-footer-dropdown-menu-bg-gradient;
    padding-bottom: 10px;
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% -10px;
    transition: transform 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550), opacity 400ms 100ms;
    z-index: 1;

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 20px 24%;
      position: relative;
      transition: all 200ms;
      letter-spacing: 3px;

      // icon
      &:before {
        @extend %icon;
        content: $icon-file-empty;
        font-size: 20px;
        margin-right: 15px;
        vertical-align: vertical;
      }

      // line
      &:after {
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        right: 50%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
      }

      &:hover {
        &:after {
          left: 20%;
          right: 20%;
        }
      }

      @include bp(phone-middle) {
        font-size: 15px;
      }
    } // END a
  } // END menu
} // END footer dropdown wrapper

.footer {
  background: $landing-footer-bg;
  background: $landing-footer-bg-gradient;
  padding: 0 3% 30px;

  .footer-inner {
    background: #373737;
    position: relative;
    top: -13px;
    margin: 0 auto;
    padding: 30px 0;
    vertical-align: middle;
    box-shadow: 0 24px 21px rgba(#0B092C, 0.5);
  }

  .info-wrap {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .info-logo {
    display: inline-block;
    margin: 0 15px;
    width: 250px;
    height: 75px;
    background: url(../img/landing-page/ui-kit-vital-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .info-content {
    display: inline-block;
    padding: 0 15px;
    text-align: left;

    div {
      padding: 20px 0;
    }

    .info-gss {
      color: #fff;
    }
  }

}

