//
//   template
//   -> 範例頁面
//
// *************************************

.#{$prefix}-template {
  body {
    height: 100%;
  }
}

.#{$prefix}-template-wrapper {
  height: calc(100% - #{nth($nav-height-list, 1)});
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: nth($nav-height-list, 2);
    left: 0;
    right: 0;
    height: 290px;
    background: $template-bg;
    background: $template-bg-gradient;
    z-index: -1;
  }

  // nav
  @include bp(nth($nav-bp, 2)) {
    height: calc(100% - #{nth($nav-height-list, 2)});
  }
}

.#{$prefix}-template-content {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 920px;
  text-align: left;
  position: relative;
}

.#{$prefix}-template-header {
  font-size: 36px;
  color: $c-white;
  padding: 50px 0;
}

.#{$prefix}-template-sec {
  position: relative;
  margin: 30px 0 100px;
}

.#{$prefix}-template-info {
  position: relative;
  height: 340px;
  width: 90%;
  max-width: 820px;
  padding: 30px 40px;
  background-color: $c-black;
  overflow: hidden;

  // triangle
  &:after {
    content: '';
    position: absolute;
    right: -120px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 245px 290px 245px;
    border-color: transparent transparent #ffffff transparent;
  }

  .#{$prefix}-info-title {
    color: $c-white;
    font-size: 36px;
    margin-bottom: 25px;
  }

  .#{$prefix}-info-content {
    color: $c-white;
    font-size: 14px;
    width: 36%;
    max-width: 250px;
    line-height: 1.8;
  }
}

.#{$prefix}-template-actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.#{$prefix}-template-preview {
  position: absolute;
  top: -30px;
  right: 0;
  width: 64%;
  max-width: 570px;
  height: 295px;

  // box-shadow
  &:after {
    content: "";
    box-shadow: 0 15px 28px rgba($c-black, 0.5);
    position: absolute;
    display: block;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0;
  }

  // preview img
  .#{$prefix}-preview-img {
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    z-index: 1;

    .#{$prefix}-template-sec:first-child & {
      background-image: url('#{$img-path}/template/template-container.png');
    }
    .#{$prefix}-template-sec:nth-child(2) & {
      background-image: url('#{$img-path}/template/template-container-row2.png');
    }
    .#{$prefix}-template-sec:nth-child(3) & {
      background-image: url('#{$img-path}/template/template-container-col2.png');
    }
    .#{$prefix}-template-sec:nth-child(4) & {
      background-image: url('#{$img-path}/template/template-layout.png');
    }
    .#{$prefix}-template-sec:nth-child(5) & {
      background-image: url('#{$img-path}/template/template-layout-frame3.png');
    }
  }
}


// -------------------------------------
//   demo (TODO: layout
// -------------------------------------

.#{$kit-prefix}-layout-body {

// ----- fn ----- //

.#{$prefix}-fn-header,
.#{$prefix}-fn-footer {
  position: relative;
  display: table-row;
}

.#{$prefix}-fn-body {
  display: table-row;
  height: 100%;
}

.#{$prefix}-fn-body__inner {
  position: relative;
  height: 100%;
}

.#{$prefix}-card {
  display: table;
  overflow: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
  box-shadow: $box-shadow-large;
  border-radius: $border-radius;
  background-color: $c-white;
}

.#{$kit-prefix}-cell-row {
  .#{$kit-prefix}-btn {
    min-width: 80px;
  }
}


// ----- tab ----- //

.#{$prefix}-tab {
  padding: 10px 10px 0;
  max-height: 48px;
  overflow: hidden;

  .#{$prefix}-item {
    display: inline-block;
    height: 35px;
    width: 100px;
    border-radius: 35px;
    background-color: nth($c-secondary-list, 3);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: nth($c-secondary-list, 4);
    }

    &.#{$prefix}-active {
      background-color: nth($c-secondary-list, 9);
    }
  }
}

.sg-tab {
  min-width: 100px;
}


// ----- btn ----- //

.#{$prefix}-main-content {
  .#{$prefix}-btn {
    min-width: 84px;
  }
}


} // END sg layout


// -------------------------------------
//   container
// -------------------------------------

.#{$prefix}-template-container {
  body {
    height: 100%;
    background-color: nth($c-secondary-list, 2);
  }

  .#{$kit-prefix}-card {
    height: 385px;
    margin: 10px 15px;
  }

  .#{$kit-prefix}-card--hero .#{$kit-prefix}-card-header {
    min-height: 100px;
  }

  .#{$kit-prefix}-row {
    padding: 40px 0;
  }

  .#{$kit-prefix}-col {
    &:first-child {
      .#{$kit-prefix}-card-header {
        background-image: url(#{$img-path}/template/template-container-card.png);
      }
    }

    @for $i from 2 through  6 {
      &:nth-child(#{$i}) {
        .#{$kit-prefix}-card-header {
          background-image: url(#{$img-path}/template/template-container-card#{$i}.png);
        }
      }
    }
  }

} // END container


// -------------------------------------
//   RWD
// -------------------------------------

@include bp(620px, 890px) {
  .#{$prefix}-template-header {
    padding-top: 100px;
    padding-left: 3%;
  }
}

@include bp(nth($nav-bp, 2)) {

  .#{$prefix}-template-info {
    height: auto;
    width: auto;
    max-width: none;

    &:after {
      content: none;
    }

    .#{$prefix}-info-content {
      width: auto;
      max-width: none;
    }
  }

  .#{$prefix}-template-preview {
    position: relative;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    max-width: none;

    &:after {
      box-shadow: 0 15px 28px rgba($c-black, 0.2);
    }
  }

  .#{$prefix}-template-actions {
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
}


