.f-item-group {
	@include clearfix;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid color(light);

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	& ~ & {
		margin-top: 0;
	}

	& > & {
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

}

.f-item-code {
	margin-top: 1.5rem;
}

.f-item-preview {
	@include clearfix;
  width: 35em;
}

.demo-btn-paragraph,
.f-item-preview {
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.f-item-border-bottom {
	border-bottom: 1px solid color(light);
}

.f-item-heading-group {
	@include clearfix;
	margin-bottom: 1.5rem;
	vertical-align: middle;
}

.f-item-heading {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
  font-size: 1.2em;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


.f-item-controls {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;

	.f-control {
		width: 0.875rem;
		height: 0.875rem;
		display: block;
		float: left;

		&:hover {
			use {
				fill: color(normal);
			}
		}

		use {
			fill: color(light);
		}
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
  position: relative;
	font-size: 0.875rem;
  padding: 1rem 1.5em;
  margin-bottom: 1.5rem;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #efefef;
  }
}

.f-labels {
  font-size: 1.5em;
}

.f-list {
  list-style-type: disc;
  padding-left: 30px;
}

.f-paragraph {
  line-height: 1.5;
}