// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: nth($nav-height-list, 1);
	left: 0;
	bottom: 0;
	transform: translate(-$menu-width, 0);
	width: $menu-width;
	z-index: 1;
	// background-color: color(menu-background);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
  padding-top: 15px;
	border-right: 1px solid #d4d4d4;

  @include bp(nth($nav-bp, 2)) {
		top: nth($nav-height-list, 2);
  }

	.f-menu-active & {
		transform: translate(0, 0);
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: 1rem;

		> li {
			margin-top: 1rem;
		}
	}

	li {
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 0.33rem 2rem;
		color: color(normal) !important;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 1.5;

		&:hover {
			color: color(menu-text) !important;
			text-decoration: underline;
		}

		&.f-active {
			box-shadow: inset 0.25rem 0 0 0 color(accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.5rem;
		font-weight: 700;
		font-size: 0.875rem;

		&:hover {
			color: color(normal);
		}
	}
}
