// *************************************
//
//   Buttons
//
// *************************************

.#{$prefix}-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  height: $btn-height;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  i {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: $btn-i-margin-top;
  }
}


// ----- btn text ----- //

.#{$prefix}-btn-txt {
  vertical-align: top; // 修正對齊問題
  margin: 0;
  i + & {
    margin-left: $btn-i-spacing;
  }
  & + i {
    margin-left: $btn-i-spacing;
  }
}


// ----- btn state ----- //

.#{$prefix}-btn-block {
  display: block;
  margin: 0;
  width: 100%;
  & + & {
    margin-top: 5px;
  }
}

.#{$prefix}-btn-square,
.#{$prefix}-btn-circle,
.#{$prefix}-btn.#{$prefix}-btn-icon {
  padding: 0;
  width: $btn-height;
  line-height: $btn-height;
}

.#{$prefix}-btn.#{$prefix}-btn-icon {
  background-color: transparent;
  border-width: 0px;

  &:hover {
    color: $btn-icon-hover-color;
    background-color: transparent;
  }
}

.#{$prefix}-btn-circle {
  border-radius: 100%;
}


// -------------------------------------
//   btn style
// -------------------------------------

// basic
@each $name, $value in $btn-basic {
  // default
  $_c-bg:           map-get($value, c-bg);
  $_c-border:       map-get($value, c-border);
  $_c-txt:          map-get($value, c-txt);
  // hover
  $_hover-bg:       map-get($value, c-hover-bg);
  $_hover-border:   map-get($value, c-hover-border);
  $_hover-txt:      map-get($value, c-hover-txt);
  // active
  $_active-bg:      map-get($value, c-active-bg);
  $_active-border:  map-get($value, c-active-border);
  $_active-txt:     map-get($value, c-active-txt);
  // disable
  $_disable-bg:      map-get($value, c-disable-bg);
  $_disable-border:  map-get($value, c-disable-border);
  $_disable-txt:     map-get($value, c-disable-txt);
  
  .#{$prefix}-btn-#{$name} {
    color: $_c-txt;
    border: 1px solid $_c-border;
    background-color: $_c-bg;
    &:hover {
      color: $_hover-txt;
      border-color: $_hover-border;
      background-color: $_hover-bg;
      text-decoration: none;
    }
    &:active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
      text-decoration: none;
    }
    // js effect
    &.#{$state}--active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    &.#{$state}--disable {
      color: $_disable-txt;
      border-color: $_disable-border;
      background-color: $_disable-bg;
      cursor: inherit;
      &:hover,
      &:active {
        color: $_disable-txt;
        border-color: $_disable-border;
        background-color: $_disable-bg;
        cursor: inherit;
      }
    }
  }
}

// light
@each $name, $value in $btn-light {
  // default
  $_c-bg:           map-get($value, c-bg);
  $_c-border:       map-get($value, c-border);
  $_c-txt:          map-get($value, c-txt);
  // hover
  $_hover-bg:       map-get($value, c-hover-bg);
  $_hover-border:   map-get($value, c-hover-border);
  $_hover-txt:      map-get($value, c-hover-txt);
  // active
  $_active-bg:      map-get($value, c-active-bg);
  $_active-border:  map-get($value, c-active-border);
  $_active-txt:     map-get($value, c-active-txt);
  // disable
  $_disable-bg:      map-get($value, c-disable-bg);
  $_disable-border:  map-get($value, c-disable-border);
  $_disable-txt:     map-get($value, c-disable-txt);
  
  .#{$prefix}-btn-light-#{$name} {
    color: $_c-txt;
    border: 1px solid $_c-border;
    background-color: $_c-bg;
    &:hover {
      color: $_hover-txt;
      border-color: $_hover-border;
      background-color: $_hover-bg;
      text-decoration: none;
    }
    &:active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
      text-decoration: none;
    }
    // js effect
    &.#{$state}--active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    &.#{$state}--disable {
      color: $_disable-txt;
      border-color: $_disable-border;
      background-color: $_disable-bg;
      cursor: inherit;
      &:hover,
      &:active {
        color: $_disable-txt;
        border-color: $_disable-border;
        background-color: $_disable-bg;
        cursor: inherit;
      }
    }
  }
} // END btn light

// flat
@each $name, $value in $btn-flat {
  // default
  $_c-bg:           map-get($value, c-bg);
  $_c-border:       map-get($value, c-border);
  $_c-txt:          map-get($value, c-txt);
  // hover
  $_hover-bg:       map-get($value, c-hover-bg);
  $_hover-border:   map-get($value, c-hover-border);
  $_hover-txt:      map-get($value, c-hover-txt);
  // active
  $_active-bg:      map-get($value, c-active-bg);
  $_active-border:  map-get($value, c-active-border);
  $_active-txt:     map-get($value, c-active-txt);
  // disable
  $_disable-bg:      map-get($value, c-disable-bg);
  $_disable-border:  map-get($value, c-disable-border);
  $_disable-txt:     map-get($value, c-disable-txt);
  
  .#{$prefix}-btn-flat-#{$name} {
    color: $_c-txt;
    border: 1px solid $_c-border;
    background-color: $_c-bg;
    &:hover,
    &:active {
      color: $_hover-txt;
      border-color: $_hover-border;
      background-color: $_hover-bg;
      text-decoration: none;
    }
    &:active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    // js effect
    &.#{$state}--active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    &.#{$state}--disable {
      color: $_disable-txt;
      border-color: $_disable-border;
      background-color: $_disable-bg;
      cursor: inherit;
      &:hover,
      &:active {
        color: $_disable-txt;
        border-color: $_disable-border;
        background-color: $_disable-bg;
        cursor: inherit;
      }
    }
  }
}


// inverse
@each $name, $value in $btn-inverse {
  // default
  $_c-bg:           map-get($value, c-bg);
  $_c-border:       map-get($value, c-border);
  $_c-txt:          map-get($value, c-txt);
  // hover
  $_hover-bg:       map-get($value, c-hover-bg);
  $_hover-border:   map-get($value, c-hover-border);
  $_hover-txt:      map-get($value, c-hover-txt);
  // active
  $_active-bg:      map-get($value, c-active-bg);
  $_active-border:  map-get($value, c-active-border);
  $_active-txt:     map-get($value, c-active-txt);
  // disable
  $_disable-bg:      map-get($value, c-disable-bg);
  $_disable-border:  map-get($value, c-disable-border);
  $_disable-txt:     map-get($value, c-disable-txt);
  
  .#{$prefix}-btn-inverse-#{$name} {
    color: $_c-txt;
    border: 2px solid $_c-border;
    background-color: transparent;
    padding: $btn-small-padding;

    &:hover,
    &:active {
      color: $_hover-txt;
      border-color: $_hover-border;
      background-color: $_hover-bg;
      text-decoration: none;
    }
    &:active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    // js effect
    &.#{$state}--active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    &.#{$state}--disable {
      color: $_disable-txt;
      border-color: $_disable-border;
      background-color: $_disable-bg;
      cursor: inherit;
      &:hover,
      &:active {
        color: $_disable-txt;
        border-color: $_disable-border;
        background-color: $_disable-bg;
        cursor: inherit;
      }
    }
  }
}


// -------------------------------------
//   btn size
// -------------------------------------

@each $name, $value in $b-size {
  $_pad-size: map-get($value, pad-size);
  $_font-size: map-get($value, font-size);
  $_border-radius: map-get($value, border-radius);
  $_btn-height: ($_font-size + nth($_pad-size, 1)*2);

  .#{$prefix}-btn-#{$name} {  
    padding: calc(#{nth($_pad-size, 1)} - 1px) nth($_pad-size, 2);
    font-size: $_font-size;
    border-radius: $_border-radius;
    height: $_btn-height;

    &.#{$prefix}-btn-square,
    &.#{$prefix}-btn-circle,
    &.#{$prefix}-btn.#{$prefix}-btn-icon {
      padding: 0;
      width: $_btn-height;
      line-height: $_btn-height;
    }
    &.#{$prefix}-btn-circle {
      border-radius: 100%;
    }
  }
}


// -------------------------------------
//   community website icon
// -------------------------------------

@each $name, $value in $btn-social {
  // default
  $_c-bg:           map-get($value, c-bg);
  $_c-border:       map-get($value, c-border);
  $_c-txt:          map-get($value, c-txt);
  // hover
  $_hover-bg:       map-get($value, c-hover-bg);
  $_hover-border:   map-get($value, c-hover-border);
  $_hover-txt:      map-get($value, c-hover-txt);
  // active
  $_active-bg:      map-get($value, c-active-bg);
  $_active-border:  map-get($value, c-active-border);
  $_active-txt:     map-get($value, c-active-txt);
  // disable
  $_disable-bg:      map-get($value, c-disable-bg);
  $_disable-border:  map-get($value, c-disable-border);
  $_disable-txt:     map-get($value, c-disable-txt);
  
  .#{$prefix}-btn-#{$name} {
    color: $_c-txt;
    border: 1px solid $_c-border;
    background-color: $_c-bg;
    &:hover,
    &:active {
      color: $_hover-txt;
      border-color: $_hover-border;
      background-color: $_hover-bg;
      text-decoration: none;
    }
    &:active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    // js effect
    &.#{$state}--active {
      color: $_active-txt;
      border-color: $_active-border;
      background-color: $_active-bg;
    }
    &.#{$state}--disable {
      color: $_disable-txt;
      border-color: $_disable-border;
      background-color: $_disable-bg;
      cursor: inherit;
      &:hover,
      &:active {
        color: $_disable-txt;
        border-color: $_disable-border;
        background-color: $_disable-bg;
        cursor: inherit;
      }
    }
  }
}


// -------------------------------------
//   group
// -------------------------------------

.#{$prefix}-btn-group {
  display: inline-block;
  font-size: 0;
  & > .#{$prefix}-btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > .#{$prefix}-btn:not(:first-child):not(:last-child) {
    margin-left: -1px;
    border-radius: 0;
  }
  & > .#{$prefix}-btn:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.#{$prefix}-btn-group-vartical {
  display: inline-block;
  & > .#{$prefix}-btn {
    display: block;
  }
  & > .#{$prefix}-btn:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > .#{$prefix}-btn:not(:first-child):not(:last-child) {
    margin-top: -1px;
    border-radius: 0;
  }
  & > .#{$prefix}-btn:last-child {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}


// -------------------------------------
//   components
// -------------------------------------

// ----- toolbar ----- //

.#{$prefix}-btn-toolbar {
  & > .#{$prefix}-btn-group + .#{$prefix}-btn-group {
    margin-left: 5px;
  }
}


// ----- link ----- //

.#{$prefix}-btn-link,
.#{$prefix}-btn-darklink {

  &.#{$state}--disable {
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: none;
    }    
  }

  &.#{$state}--underline {
    &:hover,
    &:active {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
    // js effect
    &.#{$state}--active {
      text-decoration: underline;
    }
  } 

}


