// *************************************
//
//   Pagination
//
// *************************************

.#{$prefix}-pagination {
	@include remove-spacing(li, 0.875rem);
}

// -------------------------------------
//   item
// -------------------------------------

.#{$prefix}-page-item {
	display: inline-block;
	vertical-align: middle;
	&.disabled a{
		cursor: not-allowed;
		background-color: inherit;
	}
	.#{$prefix}-pagination--bordered & {
		&.disabled a{
			background-color: $pagination-bg-color;
		}
	}
}


// ----- item link ----- //

.#{$prefix}-page-item__link{
	display: block;
	padding: $pagination-link-padding;
	border-right: 0;
	transition: all 0.2s ease;
	color: $pagination-color;
	border-radius: $pagination-link-border-radius;
	margin: 0 $pagination-link-margin;


	// ----- bordered ----- //

	.#{$prefix}-pagination--bordered & {
		border: 1px solid $pagination-border-color;
		border-right: 0;
		border-radius: 0;
		margin: 0;
		background-color: $pagination-bg-color;
	}
	.#{$prefix}-pagination--bordered .#{$prefix}-page-item:first-child & {
		border-radius: $pagination-link-border-radius 0 0 $pagination-link-border-radius;
	}
	.#{$prefix}-pagination--bordered .#{$prefix}-page-item:last-child & {
		border-radius: 0 $pagination-link-border-radius $pagination-link-border-radius 0;
		border-right: 1px solid $pagination-border-color;
	}


	// ----- Gap ----- //

	.#{$prefix}-pagination--gap & {
		margin: 0 $pagination-link-margin;
		border-right: 1px solid $pagination-border-color;
		border-radius: $pagination-link-border-radius;
	}
	.#{$prefix}-pagination--gap .#{$prefix}-page-item:first-child &,
	.#{$prefix}-pagination--gap .#{$prefix}-page-item:last-child &{
		border-radius: $pagination-link-border-radius;
	}

	// ----- selected ----- //

	&.#{$state}--selected,
	&.active {
		color: $pagination-color;
		background-color: $pagination-selected-bg-color;
		pointer-events: none;
	}


	i {
		font-size: 0.875rem;
		line-height: 0.85rem;
		vertical-align: baseline;
		&.icon-chevron-left {
			margin-right: 5px;
		}
		&.icon-chevron-right {
			margin-left: 5px;
		}
	}

	&:hover {
		color: $pagination-color;
		text-decoration: none;
		background-color: $pagination-hover-bg-color;
	}

	&:active {
		color: $pagination-color;
		background-color: $pagination-active-bg-color;
		text-decoration: none;
	}
}


// -------------------------------------
//   bootstrap overwrite
// -------------------------------------

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}





