.#{$prefix}-scrollshadow-v {
  overflow: auto;
  background: /* Shadow covers */
    linear-gradient($scroll-shadow-bg-color 30%, rgba($scroll-shadow-bg-color, 0)),
    linear-gradient(rgba($scroll-shadow-bg-color, 0), $scroll-shadow-bg-color 70%) 0 100%, /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: $scroll-shadow-bg-color;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support */
  background-attachment: local, local, scroll, scroll;
}

.#{$prefix}-scrollshadow-h {
  overflow: auto;
  white-space: nowrap;
  background: /* Shadow covers */
    linear-gradient(to right, $scroll-shadow-bg-color 30%, rgba($scroll-shadow-bg-color, 0)),
    linear-gradient(to right, rgba($scroll-shadow-bg-color, 0), $scroll-shadow-bg-color 70%) 100% 0, /* Shadows */
    radial-gradient(farthest-side at 0 50%,rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) ,
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2) , rgba(0, 0, 0, 0)) 100% 0;
  background-repeat: no-repeat;
  background-color: $scroll-shadow-bg-color;
  background-size: 40px 100%, 40px 100%, 14px 100% , 14px 100% ;
  /* Opera doesn't support */
  background-attachment: local, local, scroll, scroll;
}
