// *************************************
//
//   ul , ol
//
// *************************************

.#{$prefix}-ul--none { list-style-type:none; }

.#{$prefix}-ul--disc { list-style-type:disc; }

.#{$prefix}-ul--circle { list-style-type:circle; }

.#{$prefix}-ul--square { list-style-type:square; }

.#{$prefix}-ol--decimal { list-style-type:decimal; }

.#{$prefix}-ol--upper-roman { list-style-type:upper-roman; }

.#{$prefix}-ol--lower-latin { list-style-type:lower-latin; }

.#{$prefix}-ol--upper-latin { list-style-type:upper-latin; }

.#{$prefix}-ol--cjk-ideographic { list-style-type:cjk-ideographic; }