// *************************************
//
//   sec5
//
// *************************************

@mixin landing-sec5-card-shadow($shadow) {
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: $shadow;
    z-index: -1;
  }
}

.landing-sec5 {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  position: relative;
  overflow: hidden;

  // shadow
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    box-shadow: 0 0 80px 50px white;
    z-index: 10;
  }

  .landing-container {
    position: relative;
    height: 100%;
  }

  .txt-wrap {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 6%;
    margin-top: 150px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 180px 150px rgba(255, 255, 255, 0.98);
    transform: translateZ(300px);
    z-index: z(module, base);
  }

  h2 {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .demo-link {
    display: inline-block;
    position: relative;
    padding: 15px 60px;
    margin-top: 30px;
    font-size: 22px;
    color: #fff;
    transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    text-decoration: none;
    
    &:hover {
      transform: scale(1.1);

      &:after {
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
      }
    }

    // bg
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #373737;
      z-index: -1;
    }

    // shadow
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 13%;
      right: 13%;
      height: 100%;
      box-shadow: 0 15px 35px 8px rgba(#6F6F6F, 0.5);
      transition: all 300ms;
      z-index: -2;
    }
  }

  .floating-warp {
    position: absolute;
    left: 40%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective-origin: center;
    z-index: z(module, lower);
  }

  .floating-box {
    position: absolute;
    background-size: 100% auto;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 1;
  }

  @each $name, $value in $landing-sec5-floating-box {
    $_box-shadow:            map-get($value, box-shadow);
    $_width:                 map-get($value, width);
    $_height:                map-get($value, height);
    $_transform-2D:          map-get($value, transform-2D);
    $_transform:             map-get($value, transform);
    $_animation:             map-get($value, animation);
    $_animation-duration:    map-get($value, animation-duration);
    $_z-index:               map-get($value, z-index);

    .floating-box#{$name} {
      @include landing-sec5-card-shadow($_box-shadow);
      width: $_width;
      height: $_height;
      background-image: url(#{$img-path}/landing-page/sec5/floating-card-#{$name}.svg);
      transform: $_transform-2D;
      transform: $_transform;
      
      @if($_z-index) {
        z-index: $_z-index;
      }

      @if($_animation) {
        animation-name: $_animation;
        animation-duration: $_animation-duration;
      }
    }
  }
}


// -------------------------------------
//   Floating animation
// -------------------------------------

@keyframes floating_box_1 {
  $_landing-sec5-floating-box1-animation-base: map-get(map-get($landing-sec5-floating-box, "1"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-50px);
  }
  10% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-45px);
  }
  20% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-40px);
  }
  30% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-46px);
  }
  40% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-42px);
  }
  50% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-50px);
  }
  60% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-55px);
  }
  70% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-65px);
  }
  80% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-60px);
  }
  90% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-65px);
  }
  100% {
    transform: $_landing-sec5-floating-box1-animation-base translateZ(-50px);
  }
}

@keyframes floating_box_2 {
  $_landing-sec5-floating-box2-animation-base: map-get(map-get($landing-sec5-floating-box, "2"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-150px);
  }
  10% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-145px);
  }
  20% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-140px);
  }
  30% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-146px);
  }
  40% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-142px);
  }
  50% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-150px);
  }
  60% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-155px);
  }
  70% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-165px);
  }
  80% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-160px);
  }
  90% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-165px);
  }
  100% {
    transform: $_landing-sec5-floating-box2-animation-base translateZ(-150px);
  }
}

@keyframes floating_box_3 {
  $_landing-sec5-floating-box3-animation-base: map-get(map-get($landing-sec5-floating-box, "3"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-250px);
  }
  10% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-245px);
  }
  20% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-240px);
  }
  30% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-246px);
  }
  40% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-242px);
  }
  50% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-250px);
  }
  60% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-255px);
  }
  70% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-265px);
  }
  80% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-260px);
  }
  90% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-265px);
  }
  100% {
    transform: $_landing-sec5-floating-box3-animation-base translateZ(-250px);
  }
}

@keyframes floating_box_4 {
  $_landing-sec5-floating-box4-animation-base: map-get(map-get($landing-sec5-floating-box, "4"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(75px);
  }
  10% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(65px);
  }
  20% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(67px);
  }
  30% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(65px);
  }
  40% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(63px);
  }
  50% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(71px);
  }
  60% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(76px);
  }
  70% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(64px);
  }
  80% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(83px);
  }
  90% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(80px);
  }
  100% {
    transform: $_landing-sec5-floating-box4-animation-base translateZ(75px);
  }
}

@keyframes floating_box_5 {
  $_landing-sec5-floating-box5-animation-base: map-get(map-get($landing-sec5-floating-box, "5"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-175px);
  }
  10% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-188px);
  }
  20% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-186px);
  }
  30% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-188px);
  }
  40% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-191px);
  }
  50% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-195px);
  }
  60% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-187px);
  }
  70% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-189px);
  }
  80% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-180px);
  }
  90% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-183px);
  }
  100% {
    transform: $_landing-sec5-floating-box5-animation-base translateZ(-175px);
  }
}

@keyframes floating_box_8 {
  $_landing-sec5-floating-box8-animation-base: map-get(map-get($landing-sec5-floating-box, "8"), "animation-base");
  
  0% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(175px);
  }
  10% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(170px);
  }
  20% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(165px);
  }
  30% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(169px);
  }
  40% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(165px);
  }
  50% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(160px);
  }
  60% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(155px);
  }
  70% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(170px);
  }
  80% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(175px);
  }
  90% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(180px);
  }
  100% {
    transform: $_landing-sec5-floating-box8-animation-base translateZ(175px);
  }
}

