// *************************************
//
//   sec3
//
// *************************************

.landing-sec3 {
  padding: 80px 7% 50px 7%;

  .feature-item {
    padding: 0 5% 50px;
    text-align: center;
    
    .feature-icon {
      img {
        width: 65%;
      }
    }

    p {
      text-align: left;
      color: #4F4F4F;
    }
  }
}

