// *************************************
//
//   sec2
//
// *************************************

@mixin landing-sec2-card($x, $y, $maxWidth, $width, $height, $marginLeft, $scale, $bg, $z-index) {
  position: absolute;
  top: $y;
  left: $x;
  width: $width;
  height: $height;
  max-width: $maxWidth;
  margin-left: $marginLeft;
  background: url(../img/landing-page/sec2/#{$bg});
  background-repeat: no-repeat;
  background-size: cover;

  @if($scale != 1) {
    transform: scale($scale);
  }
  z-index: $z-index;
}
.align-wrapper{
  height:300px;
  width:300px;
  position:fixed;
  right:-300px;
  top:calc( 50% - 150px );
  z-index:87;

   &:hover{
    #vital-alien,#vital-title,#vital-alien-back{
    animation-name: earthquake;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-delay: 0.35s;
    animation-timing-function: ease-in-out;
    }

  }
}
#vital-alien {
  height:100%;
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
  z-index:7;
  pointer-events:none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/landing-page/sec2/alien-front.png');
}
#vital-alien-back {
  height:100%;
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
  z-index:2;
  pointer-events:none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/landing-page/sec2/alien-back.png');
}

#vital-title {
  height:100%;
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
  z-index:1;
  
  &:before{
    content:' ';
    height:100%;
    width:100%;
    position:absolute;
    right:0px;
    top:0px;
    z-index: 1;
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out ; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/landing-page/sec2/ui-flow-comingsoon.png'); 
  }
  &:after{
    content:' ';
    height:100%;
    width:100%;
    position:absolute;
    right:0px;
    top:0px;
    z-index: 2;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.35s ease-in-out, transform 0.35s cubic-bezier(.68,0,.99,.54) ; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/landing-page/sec2/ui-flow-comingsoon2.png'); 
  }
  &:hover{
    &:before{
      opacity:0;
      transform: translateX(0px);
    }
    &:after{
      opacity:1;
      transform: translateY(0px);
    }
  }
}

@keyframes earthquake {
  0% {
    // transform: translateY(5px);

  }
  45% {
    // transform: translateY(-5px);
  }
  60% {
    // transform: translateY(5px);
  }
  100% {
    // transform: translateY(0px);
  }
}
#present-moon{
  width:30px;
  position: absolute;
  top:178px;
  left:103px;
  z-index: 3;
  transform:scale(0.5,0.5);
  opacity:0;
  &.is-splash{
    animation-name: splash_moom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  .cls-1{fill:url(#未命名漸層_74);}
  .cls-2{fill:#26477a;opacity:0.4;}
}
#present-pokerk{
  width:37px;
  position: absolute;
  top:152px;
  left:78px;
  z-index: 5;
  transform:scale(0.5,0.5);
  opacity:0;
  &.is-splash{
    animation-name: splash_pokerk;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  .cls-1{fill:#efefef;}
  .cls-2{fill:#dc555c;}
}
#present-pokera{
  width:37px;
  position: absolute;
  top:175px;
  left:70px;
  z-index: 4;
  transform:scale(0.5,0.5);
  opacity:0;
  &.is-splash{
    animation-name: splash_pokera;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  .cls-1{fill:url(#未命名漸層_2);}
  .cls-2,.cls-3{fill:#314461;}.cls-3{fill-rule:evenodd;}
}
@keyframes splash_moom {
  0% {
    opacity:0.3;
    transform: translateY(0px) translateX(0px) scale(1,1);
  }
  50% {
     opacity:1;
     transform: translateY(-40px) translateX(-20px) scale(1,1);
  }
  95% {
     transform: translateY(-40px) translateX(-20px) scale(1,1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes splash_pokerk {
  0% {
    opacity:0.3;
    transform: translateY(0px) translateX(0px) scale(1,1);
  }
  50% {
    opacity:1;
     transform: translateY(-37px) translateX(-22px) scale(1,1);
  }
  95% {
     transform: translateY(-37px) translateX(-22px) scale(1,1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes splash_pokera {
  0% {
    opacity:0;
    transform: translateY(0px) translateX(0px) scale(1,1);
  }
  15% {
    opacity:0;
    transform: translateY(-20px) translateX(-10px) scale(1,1);
  }
  50% {
    opacity:1;
     transform: translateY(-40px) translateX(-20px) scale(1,1);
  }
  95% {
     transform: translateY(-40px) translateX(-20px) scale(1,1);
  }
  100% {
    opacity: 1;
  }
}


.landing-sec2 {
  position: relative;
  text-align: center;
  background: $landing-sec2-bg;
  background: $landing-sec2-bg-gradient;
  width: 100%;
  height: 100vh;
  max-height: 660px;
  box-shadow: 0 25px 23px rgba(#B9B9B9, 0.5);

  .landing-container {
    position: relative;
    height: 100%;

    // dimond
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      margin-bottom: -26%;
      left: 24%;
      background-color: #ffffff;
      width: 52%;
      height: 0;
      padding-top: 52%;
      transform: rotate(-45deg) skew(20deg, 20deg);
    }
  }

  .txt-wrap {
    position: relative;
    top: 48%;
  }

  h2 {
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  p {
    color: #fff;
  }

  .vital-card {
    transition: all 0.35s cubic-bezier(.57, -0.47, .61, 1.47);
    border-radius: 4px;
  }

  .vital-orgchoose-card {
    @include landing-sec2-card(50%, 0, 350px, 45%, 307px, -175px, 1, 'vital-orgchoose-card.png', 5);
    box-shadow: 8px 28px 40px rgba(#394D87, 0.5);

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .vital-malefemale-card {
    @include landing-sec2-card(50%, 0, 198px, 25%, 307px, -175px - 130px, 0.9, 'vital-malefemale-card.png', 4);
    box-shadow: -8px 15px 40px rgba(#394D87, 0.5);

    &:hover {
      margin-left: -175px - 130px - 30px;
    }
  }

  .vital-fillreport-card {
    @include landing-sec2-card(50%, 0, 345px, 44%, 307px, -20px, 0.9, 'vital-fillreport-card.png', 4);
    box-shadow: 20px 8px 30px rgba(#394D87, 0.5);
    
    &:hover {
      margin-left: -20px + 30px;
    }
  }

  .vital-register-card {
    @include landing-sec2-card(50%, 0, 197px, 23%, 307px, -175px - 130px - 100px, 0.7, 'vital-register-card.png', 3);
    box-shadow: -10px 9px 40px rgba(#394D87, 0.5);

    &:hover {
      margin-left: -175px - 130px - 100px - 30px;
    }
  }

  .vital-register2-card {
    @include landing-sec2-card(50%, 0, 197px, 23%, 307px, 210px, 0.7, 'vital-register-card.png', 3);
    box-shadow: 16px 10px 40px rgba(#394D87, 0.5);

    &:hover {
      margin-left: 210px + 30px;
    }
  }
}


// -------------------------------------
//   RWD
// -------------------------------------

.landing-sec2 {
  @include bp(850px) {
    .vital-orgchoose-card {
      margin-left: 0;
      left: 26%;
    }

    .vital-malefemale-card {
      margin-left: 0;
      left: 9%;

      &:hover {
        margin-left: -30px;
      }
    }

    .vital-fillreport-card {
      margin-left: 0;
      left: 46%;

      &:hover {
        margin-left: 30px;
      }
    }

    .vital-register-card,
    .vital-register2-card {
      display: none;
    }
  }

  @include bp(phone-land) {
    .vital-orgchoose-card {
      left: 10%;
      width: 80%;
      height: 50%;
      max-width: none;
    }

    .vital-malefemale-card,
    .vital-fillreport-card {
      display: none;
    }
  }
}
