// *************************************
//
//   sec4
//
// *************************************

.landing-sec4 {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
  perspective: 8000px;

  // background blue
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 16%;
    background: $landing-sec4-bg;
    background: $landing-sec4-bg-gradient;
    transform: skew(-66deg);
    box-shadow: 0 0 8px 8px rgba(#B7B7B7, 0.5);
    z-index: -1;
  }

  // background purple
  &:after {

  }

  // // triangle1
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: -84%;
  //   width: 100%;
  //   height: 100%;
  //   background: white;
  //   z-index: 1;
  //   box-shadow: inset -14px -8px 8px rgba(#B7B7B7, 0.5);
  //   transform: skewX(-60deg);
  // }

  // // triangle2 
  // &:after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: -110%;
  //   width: 100%;
  //   height: 100%;
  //   background: white;
  //   z-index: 1;
  //   box-shadow: inset 14px 8px 8px rgba(#B7B7B7, 0.5);
  //   transform: skewX(-60deg);
  // }

  .txt-wrap {
    position: absolute;
    width: 30%;
    top: 80px;
    right: 10%;
  }

  h2 {
    color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
  }

  p {
    color: #fff;
  }

  .vital-calendar-part1 {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: 80px;
    width: 80px;
    height: 36px;
    background: url(../img/landing-page/sec4/vital-calendar-part1.svg);
    background-repeat: no-repeat;
    z-index: 4;
    background-size: 100% auto;
  }

  .vital-calendar-part2 {
    position: absolute;
    top: -70px;
    left: 60%;
    margin-left: -550px;
    width: 355px;
    height: 550px;
    background: url(../img/landing-page/sec4/vital-calendar-part2.svg) $c-white;
    background-repeat: no-repeat;
    z-index: 2;
    transform: rotate3d(1.6, 1, -1.5, 70deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    // thickness - left side
    &:before {
      content: "";
      display: block;
      top: 2px;
      width: 6px;
      height: 100%;
      background: $landing-sec4-calendar-bg;
      background: $landing-sec4-calendar-bg-gradient;
    }

    // thickness - bottom side
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 6px;
      width: 100%;
      height: 5px;
      background-color: #F8F8F8;
    }
  }

  .vital-calendar-part2-shadow {
    width: 308px;
    height: 365px;
    position: absolute;
    bottom: 22px;
    left: 165px;
    transform: rotate(-35deg) skewX(31deg);
    background-color: rgba(#1E415F, 0.5);
    filter: blur(15px);
    z-index: 1;
  }

  .vital-calendar-part3 {
    position: absolute;
    top: 212px;
    left: 50%;
    margin-left: -160px;
    width: 323px;
    height: 76px;
    background: url(../img/landing-page/sec4/vital-calendar-part3.svg);
    background-repeat: no-repeat;
    z-index: 4;
    background-size: 100% auto;
  }

  .vital-calendar-part4 {
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -160px;
    width: 323px;
    height: 76px;
    background: url(../img/landing-page/sec4/vital-calendar-part4.svg);
    background-repeat: no-repeat;
    z-index: 4;
    background-size: 100% auto;
  }

  .vital-calendar-part5 {
    position: absolute;
    top: 440px;
    left: 0px;
    margin-left: 2px;
    width: 350px;
    height: 185px;
    background: url(../img/landing-page/sec4/vital-calendar-part5.svg);
    background-repeat: no-repeat;
    z-index: 4;
    background-size: 100% auto;
  }
  
  .triggerbox {
    position: absolute;
    height: 100px;
    width: 200px;
    bottom: 0px;
    left: 0;
    opacity: 0;
  }
}

