// *************************************
//
//   sec0
//
// *************************************

@mixin landing-sec0-card-bg($bg-img) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: url(#{$img-path}/landing-page/#{$bg-img}) 0 0/100% auto no-repeat;
  z-index: 1;
}

@mixin landing-sec0-card-shadow($width, $height, $shadow) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  box-shadow: $shadow;
  z-index: -1;
}

.landing-sec0 {
  height: calc(100vh + #{$landing-sec0-bottom-spacing});
  width: 100%;
  max-height: 790px + $landing-sec0-bottom-spacing;
  min-height: 750px;
  background-image: $landing-sec0-bg-img;
  background-image: $landing-sec0-bg-img-gradient;
  background-position: 0 #{-$landing-sec0-bottom-spacing}; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  overflow: hidden;

  .cards-wrapper {
    position: relative;
    height: calc(100% - #{$landing-sec0-bottom-spacing});
    overflow: hidden;
  }

  .vital-logo {
    position: absolute;
    left: 46%;
    margin-left: -155px;
    width: 249px;
    height: 75px;
    background-image: url(../img/landing-page/vital-title.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .vital-logo-font {
    position: absolute;
    left: 46%;
    top: 363px;
    margin-left: 55px;
    width: 249px;
    height: 75px;
    font-size: 40px;
    color: $c-white;
    line-height: 75px;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Segoe UI", "Arial", "sans-serif", "Microsoft JhengHei", "Heiti TC";
    letter-spacing: 6.66px;
  }

  .vital-weather-card {
    position: absolute;
    left: 44%;
    top: -55px;
    margin-left: -485px;
    width: 300px;
    height: 480px;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-base-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-weather-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(90%, 92%, 54px 80px 44px 2px rgba(#1B4A73, 0.6));
    }
  }

  .vital-nicetomeetyou-card {
    position: absolute;
    left: 51%;
    top: -40px;
    margin-left: 90px;
    width: 330px;
    height: 292px;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-upper-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-nicetomeetyou-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(75%, 98%, 91px 32px 44px 20px rgba(#447BAB, 0.5));
    }
  }

  .vital-oops-card {
    position: absolute;
    left: 44%;
    top: -127px;
    margin-left: -82px;
    width: 165px;
    height: 215px;
    transform: rotate(-225deg);
    filter: blur(2px);

    &:before {
      @include landing-sec0-card-bg("vital-oops-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(98%, 98%, 2px 34px 50px 20px rgba(#2D587D, 0.5));
    }
  }

  .vital-lock-card {
    position: absolute;
    left: 48%;
    top: 402px;
    margin-left: -345px;
    width: 250px;
    height: 114px;
    transform: rotate(45deg);
    filter: blur(2px);
    z-index: $landing-sec0-card-lower-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-lock-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(98%, 98%, 14px 29px 50px 15px rgba(#193A57, 0.5));
    }
  }

  .vital-news-card {
    position: absolute;
    left: 44%;
    top: 695px;
    margin-left: -200px;
    width: 590px;
    height: 255px;
    background: url(../img/landing-page/vital-news-card.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-lower-z-index;
    filter: blur(1px);
  }

  .vital-ohno-card {
    position: absolute;
    left: 46%;
    top: 498px;
    margin-left: 80px;
    width: 283px;
    height: 126px;
    transform: rotate(-45deg);
    filter: blur(1px);

    &:before {
      @include landing-sec0-card-bg("vital-ohno-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(98%, 98%, -21px 15px 44px 2px rgba(#193A57, 0.5));
    }
  }

  .vital-schedule-card {
    position: absolute;
    left: 39%;
    top: 132px;
    margin-left: 570px;
    width: 277px;
    height: 244px;
    transform: rotate(-45deg);
    z-index: $landing-sec0-card-lower-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-schedule-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(98%, 98%, -15px 38px 50px 20px rgba(#2D587D, 0.5));
    }
  }

  .vital-congrats-card {
    position: absolute;
    left: 46%;
    top: 361px;
    margin-left: -750px;
    width: 166px;
    height: 480px;
    background: url(../img/landing-page/vital-congrats-card.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    filter: blur(3px);
  }

  .vital-congrats2-card {
    position: absolute;
    left: 50%;
    top: -150px;
    margin-left: -935px;
    width: 300px;
    height: 480px;
    background: url(../img/landing-page/vital-congrats-card.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    filter: blur(4px);
  }

  .vital-finished-card {
    position: absolute;
    left: 42%;
    top: 392px;
    margin-left: 598px;
    width: 161px;
    height: 480px;
    background: url(../img/landing-page/vital-finished-card.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-lower-z-index;
  }

  .bottom-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }

  .vital-calendar-card {
    position: absolute;
    left: 50%;
    bottom: 280px;
    margin-left: -577px;
    width: 267px;
    height: 416px;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-upper-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-calendar-card.png");
    }

    &:after {
      @include landing-sec0-card-shadow(98%, 80%, -35px 105px 50px 2px rgba(#16324A, 0.5));
    }
  }

  .vital-404big-card {
    position: absolute;
    left: 47%;
    bottom: 380px;
    margin-left: 165px;
    width: 456px;
    height: 159px;
    transform: rotate(-45deg);
    z-index: $landing-sec0-card-upper-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-404big-card2.png");
    }

    &:after {
      @include landing-sec0-card-shadow(80%, 98%, -14px -10px 44px 2px rgba(#0C3D67, 0.5));
    }
  }
  .vital-update-card {
    position: absolute;
    left: 38%;
    bottom: 240px;
    margin-left: 590px;
    width: 200px;
    height: 240px;
    transform: rotate(-45deg);
    z-index: $landing-sec0-card-upper-z-index;

    &:before {
      @include landing-sec0-card-bg("vital-update-card.png");
    }

    &:after {
      position: absolute;
      top: 23px;
      left: 32px;
      transform: rotate(-4deg);
      @include landing-sec0-card-shadow(50%, 86%, 0 20px 50px 2px rgba(#16324A, 0.5));
    }
  }

}


// -------------------------------------
//   RWD
// -------------------------------------
.landing-sec0 {
  @include bp(500px) {
    .vital-logo {
      width: 190px;
      left: 56%;
    }

    .vital-logo-font {
      font-size: 32px;
      left: auto;
      right: -8%;
    }
  }
}
