// *************************************
//
//   sec0
//
// *************************************

.landing-sec0 {
  height: 100vh;
  width: 100%;
  max-height: 790px;
  background: $landing-sec0-bg-gradient;
  text-align: center;
  position: relative;
  overflow: visible;

  // background
  &:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: $landing-sec0-bg;
    transform: rotate(38deg);
  }

  .vital-logo {
    position: absolute;
    left: 46%;
    top: 280px;
    margin-left: -155px;
    width: 249px;
    height: 75px;
    background: url(../img/landing-page/vital-title.svg);
    background-repeat: no-repeat;
    z-index: $landing-sec0-card-upper-z-index;
  }

  .vital-logo-font {
    position: absolute;
    left: 46%;
    top: 363px;
    margin-left: 55px;
    width: 249px;
    height: 75px;
    font-size: 40px;
    color: $c-white;
    line-height: 75px;
    text-align: center;
    /* UI KIT: */
    font-family: PingFangTC-Semibold;
    letter-spacing: 6.66px;
    z-index: $landing-sec0-card-upper-z-index;
  }

  .vital-weather-card {
    position: absolute;
    left: 44%;
    top: -55px;
    margin-left: -485px;
    width: 300px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-lower-z-index;
    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 300px;
      height: 480px;
      background: url(../img/landing-page/vital-weather-card2.svg);
      left: 0;
      top: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 300px;
      height: 480px;
      left: 0;
      top: 55px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(27, 75, 115, 0.65);
      filter: blur(44px);
    }
  }

  .vital-nicetomeetyou-card {
    position: absolute;
    left: 45%;
    top: -64px;
    margin-left: 90px;
    width: 330px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-lower-z-index;
    
    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 330px;
      height: 480px;
      background: url(../img/landing-page/vital-nicetomeetyou-card2.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      left: 0;
      top: 0;
    }

    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 310px;
      height: 300px;
      left: 30px;
      top: 20px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(69, 123, 170, 0.8);
      filter: blur(44px);
    }
  }

  .vital-oops-card {
    position: absolute;
    left: 44%;
    top: -127px;
    margin-left: -82px;
    width: 165px;
    height: 215px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(-225deg);
    filter: blur(2px);

    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 165px;
      height: 215px;
      background: url(../img/landing-page/vital-oops-card.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      left: 0;
      top: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 165px;
      height: 215px;
      left: 30px;
      top: 0px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(45, 88, 125, 0.85);
      filter: blur(44px);
    }
  }

  .vital-lock-card {
    position: absolute;
    left: 48%;
    top: 402px;
    margin-left: -345px;
    width: 250px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    filter: blur(2px);

    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 250px;
      height: 135px;
      background: url(../img/landing-page/vital-lock-card.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      left: 0;
      top: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 250px;
      height: 135px;
      left: 17px;
      top: 30px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(25, 59, 87, 0.5);
      filter: blur(44px);
    }
  }

  .vital-news-card {
    position: absolute;
    left: 44%;
    top: 695px;
    margin-left: -200px;
    width: 590px;
    height: 255px;
    background: url(../img/landing-page/vital-news-card2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-default-z-index;
    filter: blur(1px);
  }

  .vital-ohno-card {
    position: absolute;
    left: 48%;
    top: 496px;
    margin-left: 80px;
    width: 300px;
    height: 205px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(-45deg);

    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 281px;
      height: 126px;
      background: url(../img/landing-page/vital-ohno-card2.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      filter: blur(1px);
      left: 0;
      top: 0;
    }

    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 300px;
      height: 155px;
      left: -10px;
      top: 20px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(44, 82, 116, 0.5);
      filter: blur(44px);
    }
  }

  .vital-schedule-card {
    position: absolute;
    left: 40%;
    top: 113px;
    margin-left: 570px;
    width: 290px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(-45deg);
    z-index: $landing-sec0-card-lower-z-index;

    &:before {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 285px;
      height: 480px;
      background: url(../img/landing-page/vital-schedule-card2.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      left: 0;
      top: 0;
    }
    &:after {
      content: ' ';
      position: absolute;
      border-radius: 4px;
      width: 290px;
      height: 480px;
      left: -20px;
      top: -15px;
      z-index: $landing-sec0-card-below-z-index;
      background-color: rgba(45, 88, 125, 0.5);
      filter: blur(44px);
    }
  }

  .vital-congrats-card {
    position: absolute;
    left: 46%;
    top: 361px;
    margin-left: -750px;
    width: 166px;
    height: 480px;
    background: url(../img/landing-page/vital-congrats-card.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    filter: blur(3px);
  }

  .vital-congrats2-card {
    position: absolute;
    left: 50%;
    top: -150px;
    margin-left: -935px;
    width: 300px;
    height: 480px;
    background: url(../img/landing-page/vital-finished-card.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    filter: blur(4px);
  }

  .vital-finished-card {
    position: absolute;
    left: 43%;
    top: 415px;
    margin-left: 598px;
    width: 161px;
    height: 480px;
    background: url(../img/landing-page/vital-finished-card.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotate(45deg);
    z-index: $landing-sec0-card-lower-z-index;
  }
}

.bottom-layer-wrapper {
  position: relative;
  z-index: $landing-sec0-card-upper-z-index;
}

.bottom-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.vital-calendar-card {
  position: absolute;
  left: 47%;
  top: 435px;
  margin-left: -577px;
  width: 275px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: rotate(45deg);
  z-index: $landing-sec0-card-upper-z-index;
  &:before {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 275px;
    height: 500px;
    background: url(../img/landing-page/vital-calendar-card2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 0;
    top: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 258px;
    height: 332px;
    left: -20px;
    top: 115px;
    z-index: $landing-sec0-card-below-z-index;
    background-color: rgba(23, 50, 74, 0.51);
    filter: blur(44px);
  }
}

.vital-404big-card {
  position: absolute;
  left: 48%;
  top: 517px;
  margin-left: 165px;
  width: 500px;
  height: 205px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: rotate(-45deg);
  z-index: $landing-sec0-card-lower-z-index;

  &:before {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 470px;
    height: 166px;
    background: url(../img/landing-page/vital-404big-card2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 0;
    top: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 438px;
    height: 160px;
    left: -20px;
    top: -15px;
    z-index: $landing-sec0-card-below-z-index;
    background-color: rgba(13, 61, 103, 0.5);
    filter: blur(44px);
  }
}
.vital-update-card {
  position: absolute;
  left: 46%;
  top: 579px;
  margin-left: 590px;
  width: 200px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: rotate(-45deg);

  &:before {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 200px;
    height: 480px;
    background: url(../img/landing-page/vital-update-card2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 0;
    top: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    border-radius: 4px;
    width: 100px;
    height: 280px;
    left: 70px;
    top: -15px;
    z-index: $landing-sec0-card-below-z-index;
    background-color: rgba(23, 50, 74, 0.51);
    filter: blur(50px);
  }
}


