// *************************************
//
//   sec 1
//
// *************************************

.landing-sec1 {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-top: -190px;

  .landing-container {
    max-width: none;
  }

  .txt-wrap {
    width: 100%;
    padding: 10px 8% 140px;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    z-index: $landing-sec1-z-index;
  }

  h2 {
    color: #000;
    opacity: 0.9;
    padding-top: 0;
    padding-bottom: 50px;
  }
}
