---
notes: |
  Basic switch style
---

<div class="{{styleguide.prefix}}-switches demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-1"/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-1">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-2" checked/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-2">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-3" />
  <label class="{{styleguide.prefix}}-switch-label" for="switch-3">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-4" checked/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-4">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-5" disabled/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-5">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-6" disabled/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-6">
  	<div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

