---
notes: |
  Switch with icon in button or background
---

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-7"/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-7">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-8" checked/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-8">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-9" />
  <label class="{{styleguide.prefix}}-switch-label" for="switch-9">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-10" checked/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-10">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-11" disabled/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-11">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--icon demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-12" disabled/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-12">
  	<div class="{{styleguide.prefix}}-switch-btn">
      <i class="icon-wifi"></i>
    </div>
  </label>
</div>

<br/>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--txt demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-13"/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-13">
    <div class="text"><i class="icon-wifi"></i></div>
    <div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--txt demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-14"/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-14">
    <div class="text off">Off</div>
    <div class="text on">On</div>
    <div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>

<div class="{{styleguide.prefix}}-switches {{styleguide.prefix}}-switches--circle {{styleguide.prefix}}-switches--txt demo-switches--example">
  <input class="{{styleguide.prefix}}-switch-input" type="checkbox" id="switch-15"/>
  <label class="{{styleguide.prefix}}-switch-label" for="switch-15">
    <div class="text off"><i class="icon-close"></i></div>
    <div class="text on"><i class="icon-check"></i></div>
    <div class="{{styleguide.prefix}}-switch-btn"></div>
  </label>
</div>



