// *************************************
//
//   Breadcrumb
//
// *************************************

html {
   -webkit-font-smoothing: antialiased;
}

.#{$prefix}-breadcrumb {
  font-size: 12px;
  [class^="icon-"], [class*=" icon-"] {
    margin: 0 5px;
    font-size: 12px;
  }
  .icon-caret-right {
    display:inline;
    color:$breadcrumb-light-blue;
  }
  .#{$prefix}-breadcrumb--section,.#{$prefix}-breadcrumb--divider,.#{$prefix}-breadcrumb--link,.#{$prefix}-breadcrumb--section.active {
    display:inline-block;
    padding:$breadcrumb-padding;
  }
  .#{$prefix}-breadcrumb--section {
    color:$breadcrumb-light-blue;

  }
  .#{$prefix}-breadcrumb--section.active {
    color:$breadcrumb-light-blue;
    padding:10px 0;
  }

  .#{$prefix}-breadcrumb--link {
    color:$breadcrumb-light-blue;
    text-decoration: none;
    transition:all 200ms;
    &:hover {
      color:$breadcrumb-dark-blue;
    }
  }
}

.#{$prefix}-breadcrumb-border{
  border:$breadcrumb-border-light;
  border-radius: $menu-border-radius;
  display:inline-block;
  padding-left:10px;
  .#{$prefix}-breadcrumb--section.active {
    padding:10px 20px;
    background:$breadcrumb-active;
    color:$c-white;
    border-radius: 0 $menu-border-radius $menu-border-radius 0;
  }
}

.#{$prefix}-breadcrumb--link-wrap {
  display:inline-block;
  position: relative;
  &:hover{
      .#{$prefix}-sub-menu {
        opacity: 0.99;
      }
    }
}

.#{$prefix}-breadcrumb{
  .#{$prefix}-sub-menu {
    text-align: left;
    li {
      .#{$prefix}-sub-menu-item {
        border-left:$menu-border;
        border-right: $menu-border;
        padding:10px;
        min-width: 120px;
      }
      &:first-child .#{$prefix}-sub-menu-item {
        border-radius:$menu-border-radius $menu-border-radius 0 0;
        border-top:$menu-border;
        position:relative;
        &:hover{
          &:after{
            border-color: transparent transparent $menu-bg-color-blue-hover transparent;
          }
        }
        &:after{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7.5px 10px 7.5px;
          border-color: transparent transparent $c-white transparent;
          content: "";
          position:absolute;
          top:-8px;
          left:20px;
        }
        &:before{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7.5px 10px 7.5px;
          border-color: transparent transparent $menu-item-font-color transparent;
          content: "";
          position:absolute;
          top:-10px;
          left:20px;
        }
      }
      &:last-child .#{$prefix}-sub-menu-item {
        border-radius:0 0 $menu-border-radius $menu-border-radius;
        border-bottom:$menu-border;
      }
    }
  }
}