// *************************************
//
//   Radio
//   -> Form radio style
//
// *************************************

.#{$prefix}-radio {
  appearance: none;
  outline: none;
  position: relative;
  box-sizing: content-box;
  margin: -2px 0 0 0;
  width: $radio-circle-size;
  height: $radio-circle-size;
  border: 1px solid $radio-default-color;
  border-radius: 50%;
  background-color: $radio-bg-color;
  transition: all 120ms ease-out;
  &:after {
    content: '';
    position: absolute;
    width: $radio-circle-selected-size;
    height: $radio-circle-selected-size;
    top: calc((#{$radio-circle-size} - #{$radio-circle-selected-size})/2);
    left: calc((#{$radio-circle-size} - #{$radio-circle-selected-size})/2);
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: all 120ms ease-out;
  }
  &:checked {
    border-color: $radio-primary-color;
    &:after {
      opacity: 1;
      transform: scale(1);
      background: $radio-primary-color;
    }
  }
}

// default
.#{$prefix}-radio-label {
  position: relative;
  margin: $radio-label-margin;
  word-break: break-word;
  color: $radio-label-default-color;
  line-height: 1.3333rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    .#{$prefix}-radio {
      box-shadow: 0 0 0 2px $radio-shadow-color;
      border-color: $radio-primary-color;
    }
  }
  &.#{$state}--disable {
    cursor: not-allowed;
    pointer-events: none;
    color: $radio-disable-color;
    .#{$prefix}-radio {
      border-color: $radio-disable-border-color;
      &:checked {
        border-color: $radio-disable-color;
        + span {
          color: $radio-label-default-color;
        }
        &:after {
          background-color: $radio-label-disable-color;
        }
      }
    }
  }
  span {
    padding-left: 4px;
  }
}



