<ul class="{{styleguide.prefix}}-list">
	<li class="{{styleguide.prefix}}-item">
		<a href="" class="{{styleguide.prefix}}-item__content {{styleguide.prefix}}-item__link">
			Item 01
			<i class="icon-chevron-right {{styleguide.prefix}}-pull--right"></i>
		</a>
	</li>
	<li class="{{styleguide.prefix}}-item">
		<a href="" class="{{styleguide.prefix}}-item__content {{styleguide.prefix}}-item__link">
			Item 02
			<i class="icon-chevron-right"></i>
		</a>
	</li>
	<li class="{{styleguide.prefix}}-item">
		<a href="" class="{{styleguide.prefix}}-item__content {{styleguide.prefix}}-item__link">
			Item 03
			<i class="icon-chevron-right {{styleguide.prefix}}-pull--right"></i>
		</a>
	</li>
</ul>
