<ul class="{{styleguide.prefix}}-list">
	<li class="{{styleguide.prefix}}-item">
		<div class="{{styleguide.prefix}}-item__content">
			<div class="{{styleguide.prefix}}-content__txt">
				<h2>Title 01</h2>
				<p>Subtitle 01</p>
			</div>
		</div>
	</li>
	<li class="{{styleguide.prefix}}-item">
		<a href="" class="{{styleguide.prefix}}-item__content {{styleguide.prefix}}-item__link">
			<div class="{{styleguide.prefix}}-content__txt">
				<h2>Title 02</h2>
				<p>Subtitle 02</p>
			</div>
			<i class="icon-chevron-right"></i>
		</a>
	</li>
	<li class="{{styleguide.prefix}}-item">
		<div class="{{styleguide.prefix}}-item__content {{styleguide.prefix}}-cell-group">
			<div class="{{styleguide.prefix}}-content__txt {{styleguide.prefix}}-cell">
				<h2>Title 03</h2>
				<p>Subtitle 03</p>
			</div>
			<div class="{{styleguide.prefix}}-content__last {{styleguide.prefix}}-cell">
				<span class="{{styleguide.prefix}}-badge">99+</span>
			</div>
		</div>
	</li>
</ul>
