---
notes: |
  Basic radio style
---

<label class="demo-radio-inline {{styleguide.prefix}}-radio-label" for="radio-1">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" id="radio-1" checked/>
	<span>Radio 1</span>
</label>

<label class="demo-radio-inline {{styleguide.prefix}}-radio-label" for="radio-2">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" id="radio-2" />
	<span>Radio 2</span>
</label>
<label class="demo-radio-inline {{styleguide.prefix}}-radio-label" for="radio-3">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" id="radio-3" />
	<span>Radio 3</span>
</label>
<label class="demo-radio-inline {{styleguide.prefix}}-radio-label" for="radio-4">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" id="radio-4" />
	<span>Radio 4</span>
</label>
