---
notes: |
  Basic radio style
---

<label class="demo-radio-inline {{styleguide.prefix}}-radio-label">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" checked/>
	<span>Radio 1</span>
</label>

<label class="demo-radio-inline {{styleguide.prefix}}-radio-label">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" />
	<span>Radio 2</span>
</label>
<label class="demo-radio-inline {{styleguide.prefix}}-radio-label">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" />
	<span>Radio 3</span>
</label>
<label class="demo-radio-inline {{styleguide.prefix}}-radio-label">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio" />
	<span>Radio 4</span>
</label>
