---
notes: |
  disable radio
---
<label class="demo-radio-inline {{styleguide.prefix}}-radio-label {{styleguide.prefix}}-state--disable" for="radio-5">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio-2" id="radio-5"/>
	<span>Radio 5</span>
</label>

<label class="demo-radio-inline {{styleguide.prefix}}-radio-label {{styleguide.prefix}}-state--disable" for="radio-6">
	<input type="radio" class="{{styleguide.prefix}}-radio" name="basic-radio-2" id="radio-6" checked/>
	<span>Radio 6</span>
</label>


