---
notes: |
  Basic card structure.
---

<div class="demo-basic-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--bordered">
	<div class="{{styleguide.prefix}}-card-header">Title</div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer">
		<a href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-darklink">Cancel</a>
		<a href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-link">Confirm</a>
	</div>
</div>

