---
notes: |
  Different button type.
---
<div class="demo-basic-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--bordered">
	<div class="{{styleguide.prefix}}-card-header">Title</div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
		<button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
		<button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
	</div>
</div>
