---
notes: |
  Different button type.
---
<div>Using "button"</div>
<div class="demo-basic-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--bordered">
	<div class="{{styleguide.prefix}}-card-header {{styleguide.prefix}}-cell-group">
		<div class="{{styleguide.prefix}}-cell">Title</div>
		<div class="{{styleguide.prefix}}-cell">
			<span class="badge">99+</span>
		</div>
	</div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Cancel</button></div>
	</div>
</div>

<div>Using "a"</div>
<div class="demo-basic-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--bordered">
	<div class="{{styleguide.prefix}}-card-header {{styleguide.prefix}}-cell-group">
		<div class="{{styleguide.prefix}}-cell">Title</div>
		<div class="{{styleguide.prefix}}-cell">
			<span class="badge">99+</span>
		</div>
	</div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><a href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</a></div>
		<div class="{{styleguide.prefix}}-cell"><a href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Cancel</a></div>
	</div>
</div>

