---
notes: |
  Add a hero image at header of card.
---

<div class="demo-hero-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header" style="background-image: url('./img/card-header-pic.png');"><h4>Header</h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Title
		</div>
		<div class="sub-title">
			Subtitle
		</div>
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Cancel</button></div>
	</div>
</div>

