---
notes: |
  Click the share button to demo interactive button
---

<div id="hero-card" class="demo-hero-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header" style="background-image: url('./img/card-header-pic.png');"><h4>Header</h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Title
		</div>
		<div class="sub-title">
			Subtitle
		</div>
		<p>
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
			Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-interactive">
		<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.state}}--selected"><i class="icon-heart"></i></button>
		<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle"><i class="icon-comment"></i></button>
		<div id="interbtn-area" class="{{styleguide.prefix}}-interbtn">
			<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-interbtn--mainbtn"><i class="icon-share"></i></button>
			<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-interbtn--subtn first"><i class="icon-facebook"></i></button>
			<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-interbtn--subtn second"><i class="icon-twitter"></i></button>
			<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-circle {{styleguide.prefix}}-interbtn--subtn third"><i class="icon-tumblr"></i></button>
		</div>
		<button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-square"><i class="icon-ellipsis-v"></i></button>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default">Cancel</button></div>
	</div>
</div>

