---
notes: |
  Icon at left
---
<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-card--icon__left {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-lock" style="color:#EB5000;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Account locked out
		</div>
		<p>
			You have entered an incorrect password 5 times, cannot be log on to in 15 minutes
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>

