---
notes: |
  As lightbox, dialog or alert
---

<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-thumbs-up" style="color:#0e86fe;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Congrats!
		</div>
		<p>
			Let’s Get Started
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>
<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-check" style="color:#2BCD86;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Upload Finished
		</div>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>
<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-warning" style="color:#FFB400;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Oops!
		</div>
		<p>
			Check your connection
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>
<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-refresh" style="color:#00C3FF;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			New update avaliable
		</div>
		<p>
			version 1.2.8
		</p>
		<p>
			<a href="">Update now</a>
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>
<div class="demo-icon-card {{styleguide.prefix}}-card {{styleguide.prefix}}-card--icon {{styleguide.prefix}}-shadow--blur__1dp">
	<div class="{{styleguide.prefix}}-card-header"><h4><i class="icon-lock" style="color:#EB5000;"></i></h4></div>
	<div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
		<div class="title">
			Account locked out
		</div>
		<p>
			You have entered an incorrect password 5 times, cannot be log on to in 15 minutes
		</p>
	</div>
	<div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-cell-group {{styleguide.prefix}}-cell--fixed">
		<div class="{{styleguide.prefix}}-cell"><button class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button></div>
	</div>
</div>

