---
title: Getting Started
fabricator: true
javascript: styleguide.js

usageStyle1: ./css/vital-ui-kit.css
usageStyle2: ./css/kendo.custom.vital-ui-kit.css
usageScripts1: https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js
usageScripts2: ./js/vital-ui-kit.js
---

<h1 class="f-labels" data-f-toggle="labels">{{title}}</h1>
<article class="getting-started">
  <section>
    <h3>Install</h3>
    <div>
      <p>Vital UI Kit 提供了兩種使用方式，您可以依照喜好或是情況選擇適合您的方式開始應用。</p>
      <ul>
        <li class="demo-ol-wrap" style="background: white">
          <h5>直接開始使用 Vital UI Kit</h5>
          <p>如果您不需要建立開發環境，可以使用以下方式，方便且快速地應用 Vital UI Kit 在您的產品或專案上。</p>
          <ol class="{{styleguide.prefix}}-ol--decimal">
            <li>首先，請先下載 Vital UI Kit 並解壓縮：
              <a role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default" href="https://github.com/GSS-FED/vital-ui-kit/archive/build.zip" style="margin-right: 5px"><span class="{{styleguide.prefix}}-btn-txt">下載</span><i class="icon-download icon-right"></i></a>
            </li>
            <li>將 dist 資料夾底下的 css、fonts、img、js 資料夾複製到您的專案環境根目錄</li>
            <li>
              在您的 Html 中引入
              <pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;{{usageStyle1}}&quot;&gt;</code><br/><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;{{usageStyle2}}&quot;&gt;</code> (optional)<br/><code class="language-markup">&lt;script src=&quot;{{usageScripts1}}&quot;&gt;&lt;/script&gt;</code><br/><code class="language-markup">&lt;script src=&quot;{{usageScripts2}}&quot;&gt;&lt;/script&gt;</code></pre>
              <p>接下來只要按照 styleguide/index.html 的說明，即可立刻看到套用 Vital UI Kit 的效果了！</p>
            </li>
          </ol>
        </li>
        <li class="demo-ol-wrap" style="background: white">
          <h5>使用 NPM 安裝 Vital UI Kit</h5>
          <p>如果您是開發者，想要客製化自己的 Vital UI Kit、更改 UI Kit 顏色，可使用以下方法。</p>
          <ol class="{{styleguide.prefix}}-ol--decimal">
            <li>
              安裝 vital-ui-kit
              <pre class="language-markup">npm i @gssfed/vital-ui-kit</pre>
            </li>
            <li>在專案環境引用 node_modules/vital-ui-kit/dist 資料夾底下的 fonts、img、js</li>
            <li>在專案環境引用 node_modules/vital-ui-kit/sass 資料夾，編譯輸出的 css 檔案路徑需和 fonts 平行</li>
            <li>在 vital-ui-kit.scss 可 import 自己客製化的變數檔與加入樣式，可參考 base/_variables.scss 看有哪些變數可供更改。<br/>
              <pre class="language-markup">
sass/
├── base/
│    ├── _variables.scss
│    ├── ...
├── components/
├── structures/
├── utils/
├── _core.scss
└── vital-ui-kit.scss</pre>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h3>File Structure</h3>
    <p>下載 Vital UI Kit 解壓縮後的資料夾中，build/dist 包含編譯後的原始檔案與壓縮檔，與 css 編譯前的 sass 原始檔案，提供給開發者修改變數、客製化樣式。</p>
    <p>build/styleguide 包含 Vital UI Kit 的使用說明，可打開 index.html 閱讀。</p>
    <p>
      <pre class="language-markup"><code class="language-markup">
vital-ui-kit/
├── dist/
│    ├── css/
│    │    ├── kendo.custom.vital-ui-kit.css
│    │    ├── vital-ui-kit.css
│    │    ├── ...
│    ├── js/
│    │    ├── vital-ui-kit.js
│    │    ├── ...
│    ├── img/
│    ├── fonts/
│    ├── less/
│    └── sass/
├─── styleguide/
│    ├── index.html
│    ├── ...</code></pre>
    </p>
  </section>
  <section>
  	<h3>Browser Support</h3>
  	<p>為了網頁技術的推進，以及為使用者帶來更好的體驗，瀏覽器支援度我們會專注在最新版的主流瀏覽器上。</p>
  	<ul class="browser-list">
  		<li><i class="icon-chrome" style="color: #169d5b"></i>：latest</li>
  		<li><i class="icon-firefox" style="color: #df692a"></i>：latest</li>
  		<li><i class="icon-safari" style="color: #0bbced"></i>：latest</li>
  		<li><i class="icon-opera" style="color: #fb1831"></i>：latest</li>
  		<li><i class="icon-internet-explorer" style="color: #1ebbee"></i>：9</li>
  	</ul>
  </section>

</article>

