---
title: 範例應用
htmlClass: demo-template
javascript: template.js
mainPage: true
---

<div class="demo-template-wrapper">
  <div class="demo-template-content">
    <div class="demo-template-header">TEMPLATE</div>
    <div class="demo-template-body">

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">卡片未分欄位</div>
          <div class="demo-info-content">卡片方便顯示不同類型的內容，Vital UI Kit預先做好基本的排版，讓你專注在樣式的客制化。</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-container.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">雙列式框架</div>
          <div class="demo-info-content">基本雙列應用，上面menu，下面內容。</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-container-row2.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">三格式框架</div>
          <div class="demo-info-content">加入左邊nav。</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-frame3.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">雙欄框架</div>
          <div class="demo-info-content">左邊nav，右邊內容。</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-col2.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">內嵌框架</div>
          <div class="demo-info-content">Vital UI Kit 具備內嵌性。</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-embeded.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

