---
title: 範例應用
htmlClass: demo-template
javascript: template.js
mainPage: true
---

<div class="demo-template-wrapper">
  <div class="demo-template-content">
    <div class="demo-template-header">TEMPLATE</div>
    <div class="demo-template-body">

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">DEMO 1</div>
          <div class="demo-info-content">Official Document is a office software for the Agencies or enterprises. Document submission and approval System has many complex procedures with a huge amount of data and processes, so we spend a lot of effort over and over again in the UI design</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-container.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">DEMO 2</div>
          <div class="demo-info-content">Official Document is a office software for the Agencies or enterprises. Document submission and approval System has many complex procedures with a huge amount of data and processes, so we spend a lot of effort over and over again in the UI design</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-container-row2.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">DEMO 3</div>
          <div class="demo-info-content">Official Document is a office software for the Agencies or enterprises. Document submission and approval System has many complex procedures with a huge amount of data and processes, so we spend a lot of effort over and over again in the UI design</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-frame3.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">DEMO 4</div>
          <div class="demo-info-content">Official Document is a office software for the Agencies or enterprises. Document submission and approval System has many complex procedures with a huge amount of data and processes, so we spend a lot of effort over and over again in the UI design</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-col2.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

      <div class="demo-template-sec">
        <div class="demo-template-info">
          <div class="demo-info-title">DEMO 5</div>
          <div class="demo-info-content">Official Document is a office software for the Agencies or enterprises. Document submission and approval System has many complex procedures with a huge amount of data and processes, so we spend a lot of effort over and over again in the UI design</div>
        </div>
        <div class="demo-template-preview">
          <div class="demo-preview-img"></div>
        </div>
        <div class="demo-template-actions">
          <a class="demo-btn demo-btn-primary">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">Download Sketch</span>
          </a>
          <a href="template-layout-embeded.html" target="_blank" class="demo-btn demo-btn-default">
            <i class="icon-eye"></i>
            <span class="demo-btn-txt">PREVIEW</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div> 

