---
title: 範例應用 - 雙列
htmlClass: demo-template-container sg-layout-body
singlePage: true
---

<!-- ap-wrapper 設定背景, 設定最大寬度 -->
<div class="{{styleguide.prefix}}-ap-wrapper">
  <!-- ap-box 內容結構的外盒 -->
  <div class="{{styleguide.prefix}}-ap-box">
    <div class="{{styleguide.prefix}}-ap-header"></div>
    <div class="{{styleguide.prefix}}-ap-main">
      <div class="{{styleguide.prefix}}-container {{styleguide.prefix}}-height-100">
        <div class="{{styleguide.prefix}}-cell-group {{styleguide.prefix}}-height-100">

          <div class="demo-fn-header">
            <ul class="demo-tab {{styleguide.prefix}}-txt--center">
              <li class="demo-item demo-active"></li>
              <li class="demo-item"></li>
              <li class="demo-item"></li>
              <li class="demo-item"></li>
              <li class="demo-item"></li>
              <li class="demo-item"></li>
              <li class="demo-item"></li>
            </ul>
          </div>

          <div class="demo-fn-body">
            <div class="demo-fn-body__inner">
              <div class="demo-card">
                <div class="{{styleguide.prefix}}-cell-row">
                  <ul class="sg-tab-wrapper sg-tab-light">
                    <li class="sg-tab sg-state--active"></li>
                    <li class="sg-tab"></li>
                    <li class="sg-tab"></li>
                    <li class="sg-tab"></li>
                    <li class="sg-tab"></li>
                    <li class="sg-tab"></li>
                  </ul>
                </div>
                <div class="{{styleguide.prefix}}-cell-row {{styleguide.prefix}}-height-100"></div>
                <div class="{{styleguide.prefix}}-cell-row">
                  <div class="{{styleguide.prefix}}-btn-list {{styleguide.prefix}}-padding {{styleguide.prefix}}-txt--right {{styleguide.prefix}}-border-top">
                    <div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default"></div>
                    <div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

