---
title: 範例應用 - 未分欄位
htmlClass: demo-template-container
singlePage: true
---

<div class="{{styleguide.prefix}}-container">

  <div class="{{styleguide.prefix}}-row">
    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            您是否同意於2006年3月24日制訂的關於與東歐國家合作關係之聯邦法？
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>
    
    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>

    <div class="{{styleguide.prefix}}-col {{styleguide.prefix}}-col-4 {{styleguide.prefix}}-col-md-6 {{styleguide.prefix}}-col-xs-12">
      <div class="{{styleguide.prefix}}-card {{styleguide.prefix}}-card--hero {{styleguide.prefix}}-shadow--blur__1dp">
        <div class="{{styleguide.prefix}}-card-header"></div>
        <div class="{{styleguide.prefix}}-card-container {{styleguide.prefix}}-scroll--y">
          <p>
            Lorem ipsum dolor sit amet, sea oblique aliquam oportere ea, id dico interesset eam. Eu eum quem velit verterem, amet dicat quaeque ad est.
          </p>
        </div>
        <div class="{{styleguide.prefix}}-card-footer {{styleguide.prefix}}-card-footer--inner-btn">
          <button href="#" role="button" class="{{styleguide.prefix}}-btn  {{styleguide.prefix}}-btn-default">Cancel</button>
          <button href="#" role="button" class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-flat-primary {{styleguide.prefix}}-card-footer-btn--primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>

</div> 

