---
notes: |
  Basic tooltip.
---

<div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default" data-tooltip="show words on top" data-position="top">Position Top</div>
<div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default" data-tooltip="show words on left" data-position="left">Position Left</div>
<div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default" data-tooltip="show words on right" data-position="right">Position Right</div>
<div class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default" data-tooltip="show words on bottom" data-position="bottom">Position Bottom</div>
