---

notes: |
  Sub menu

  A menu item may contain another menu nested inside that acts as a grouped sub-menu.
---

<ul class="demo-button-menu {{styleguide.prefix}}-button-menu">
  <li class="{{styleguide.prefix}}-menu--list">
    <a href="#" class="{{styleguide.prefix}}-menu--item">Editorials</a>
    <ul class="{{styleguide.prefix}}-sub-menu">
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Profile</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Language</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Settings</a>
        </li>
    </ul>
  </li>
  <li class="{{styleguide.prefix}}-menu--list">
    <a href="#" class="{{styleguide.prefix}}-menu--item">Reviews</a>
    <ul class="{{styleguide.prefix}}-sub-menu">
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Profile</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Language</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Settings</a>
        </li>
    </ul>
  </li>
  <li class="{{styleguide.prefix}}-menu--list">
    <a href="#" class="{{styleguide.prefix}}-menu--item">Upcoming Events</a>
    <ul class="{{styleguide.prefix}}-sub-menu">
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Profile</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Language</a>
        </li>
        <li>
          <a href="#" class="{{styleguide.prefix}}-sub-menu-item">Settings</a>
        </li>
    </ul>
  </li>
</ul>