---
notes: |
  Basic label style
---

<!-- Full Name -->
<div class="{{styleguide.prefix}}-input-item">
  <span class="{{styleguide.prefix}}-input-label">Full Name</span>
  <div class="{{styleguide.prefix}}-input-group {{styleguide.state}}--multiple-cell">
    <span class="{{styleguide.prefix}}-input-group__cell"><input type="text" placeholder="First Name" class="{{styleguide.prefix}}-input"></span>
    <span class="{{styleguide.prefix}}-input-group__cell"><input type="text" placeholder="Last Name" class="{{styleguide.prefix}}-input"></span>
  </div>
</div>

<!-- Email -->
<div class="{{styleguide.prefix}}-input-item">
  <span class="{{styleguide.prefix}}-input-label">Email</span>
	<input type="text" placeholder="Enter email" class="{{styleguide.prefix}}-input">
</div>

<!-- Gender -->
<div class="{{styleguide.prefix}}-input-item">
  <span class="{{styleguide.prefix}}-input-label">Gender</span>
  <button 
    type="button" 
    class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-btn-block {{styleguide.prefix}}-dropdown-toggle" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false"><span class="{{styleguide.prefix}}-btn-txt">Male</span><span class="{{styleguide.prefix}}-caret"></span></button>
  <ul class="{{styleguide.prefix}}-dropdown-menu">
    <li><a href="#">Male</a></li>
    <li><a href="#">Female</a></li>
    <li><a href="#">Other</a></li>
  </ul>
  </span>
</div>

<!-- Tel -->
<div class="{{styleguide.prefix}}-input-item">
  <span class="{{styleguide.prefix}}-input-label">Tel</span>
  <div class="{{styleguide.prefix}}-input-group {{styleguide.state}}--multiple-cell">
    <span class="{{styleguide.prefix}}-input-group__btns">
        <button 
          type="button" 
          class="{{styleguide.prefix}}-btn {{styleguide.prefix}}-btn-default {{styleguide.prefix}}-dropdown-toggle" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false"><span class="{{styleguide.prefix}}-btn-txt">Taiwan(+886)</span><span class="{{styleguide.prefix}}-caret"></span></button>
          <ul class="{{styleguide.prefix}}-dropdown-menu">
            <li><a href="#">Taiwan(+886)</a></li>
            <li><a href="#">Taiwan(+886)</a></li>
            <li><a href="#">Taiwan(+886)</a></li>
          </ul>
      </span>
    <span class="{{styleguide.prefix}}-input-group__addon">
      <span class="{{styleguide.prefix}}-txt">+0</span>
      <input type="text" class="{{styleguide.prefix}}-input">
    </span>
    <span class="{{styleguide.prefix}}-input-group__cell"><input type="text" placeholder="Phone number..." class="{{styleguide.prefix}}-input"></span>
    <span class="{{styleguide.prefix}}-input-group__addon">Ext</span>
    <span class="{{styleguide.prefix}}-input-group__cell {{styleguide.prefix}}-cell--2"><input type="text" placeholder="" class="{{styleguide.prefix}}-input"></span>
  </div>
</div>

<!-- Brief Intro -->
<div class="{{styleguide.prefix}}-input-item">
  <span class="{{styleguide.prefix}}-input-label">Brief Intro</span>
  <textarea class="{{styleguide.prefix}}-input" placeholder="Introduce yourself..." rows="5"></textarea>
</div>
