---
notes: |
  Floating labels
---

<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-floating">
  <span class="{{styleguide.prefix}}-input-label">First Name</span>
  <input type="text" placeholder="Enter first Name" class="{{styleguide.prefix}}-input">
</div>

<div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-floating">
  <span class="{{styleguide.prefix}}-input-label">Last Name</span>
  <input type="text" placeholder="Enter last Name" class="{{styleguide.prefix}}-input">
</div>
