---
notes: |
  Required
---

<div class="demo-btn-title">
  Placeholder only
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-placeholder {{styleguide.state}}--required">
    <input type="text" placeholder="First Name" class="{{styleguide.prefix}}-input">
  </div>
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-placeholder {{styleguide.state}}--required">
    <input type="text" placeholder="Last Name" class="{{styleguide.prefix}}-input">
  </div>
</div>

<div class="demo-btn-title">
  Basic Label
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">First Name</span>
    <input type="text" placeholder="Enter your first name" class="{{styleguide.prefix}}-input">
  </div>
  <div class="{{styleguide.prefix}}-input-item {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">Last Name</span>
    <input type="text" placeholder="Enter your last name" class="{{styleguide.prefix}}-input">
  </div>
</div>

<div class="demo-btn-title">
  Floating Label
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-floating {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">First Name</span><input type="text" placeholder="Enter your first name" class="{{styleguide.prefix}}-input">
  </div>
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-floating {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">Last Name</span><input type="text" placeholder="Enter your last name" class="{{styleguide.prefix}}-input">
  </div>
</div>

<div class="demo-btn-title">
  Inline Label
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-inline {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">First Name</span>
    <input type="text" placeholder="First Name" class="{{styleguide.prefix}}-input">
  </div>
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-input-inline {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">Last Name</span>
    <input type="text" placeholder="Last Name" class="{{styleguide.prefix}}-input">
  </div>
</div>

<div class="demo-btn-title">
  Inline Label (align-right)
</div>
<div class="demo-btn-paragraph">
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-txt--right {{styleguide.prefix}}-input-inline {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">First Name</span>
    <input type="text" placeholder="First Name" class="{{styleguide.prefix}}-input">
  </div>
  <div class="{{styleguide.prefix}}-input-item {{styleguide.prefix}}-txt--right {{styleguide.prefix}}-input-inline {{styleguide.state}}--required">
    <span class="{{styleguide.prefix}}-input-label">Last Name</span>
    <input type="text" placeholder="Last Name" class="{{styleguide.prefix}}-input">
  </div>
</div>

