---
notes: |
    pagination with border(Gapless)
---
<nav class="{{styleguide.prefix}}-pagination {{styleguide.prefix}}-pagination--bordered">
  <ul>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">First</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#"><i class="icon-chevron-left"></i>Prev</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">1</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">2</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link {{styleguide.state}}--selected" href="#">3</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">4</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">5</a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">Next<i class="icon-chevron-right"></i></a></li>
    <li class="{{styleguide.prefix}}-page-item"><a class="{{styleguide.prefix}}-page-item__link" href="#">Last</a></li>
  </ul>
</nav>
